.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    overflow: hidden;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 22px; /* Adjust the top padding to accommodate the shadow */
    // background-color: red;
}

.img-container {
    border-radius: 25px; /* Adjust the value to control the curve of the corners */
    box-shadow:  5px 5px 14px #8e8376cb,
                -8px -8px 13px rgba(246, 235, 226, 0.573) !important;
    display: block;
    width: 100%;
    height: auto;
    margin: 3rem;
    margin-top: 10px;
}