<div style="overflow: hidden; height: 100%">
    <menu></menu>

    <div style="color: white;text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">lineup</h2>

        <div class="top">
            <hr style="height:1px;border:none;color:white; background-color:white;">
            <div class="center-container">
                <div class="day">
                    <p class="main-txt" style="font-size: 24px;">Friday</p>
                    <!-- <div style="display: flex;">
                        weix  2:30 <br>
                        trunk space 12:00pm
                    </div> -->
                    <table>
                        <tr>
                            <th>Weix</th>
                            <th>2:00</th>
                        </tr>
                    </table>
                </div>

                <div class="day">
                    saturday
                </div>
           
            </div>
        </div>


    </div>
</div>
