<div style="overflow: hidden; height: 100%">
    <menu></menu>

    <div style="color: white;text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">lineup</h2>

        <div class="top">
            <hr style="height:1px;border:none; background-color:white;">
            <div class="center-container">
                <div class="day">
                    <p class="main-txt" style="font-size: 24px; ">Friday</p>
                    <hr style="height:1px;border:none; width: 50%; transform: translateY(-17px); background-color:white;">
                    <!-- <div style="display: flex;">
                        weix  2:30 <br>
                        trunk space 12:00pm
                    </div> -->
                    <table>
                        <!-- <td colspan="2">
                            main stage<br><hr style="height:1px;border:none; width: 50%; background-color:white;">
                        </td> -->
                        <tr>
                            <th>4:30pm</th><th>Weix (event kick off)</th>
                        </tr>
                        <tr>
                            <th>5pm</th><th>Biagi</th>
                        </tr>
                        <tr>
                            <th>7pm	</th><th>Weix (desert house set)</th>	
                        </tr>
                        <tr>
                            <th>8pm	</th><th>Cut & Sew	</th>
                        </tr>
                        <tr>
                            <th>10pm</th><th>Truck Space (DnB Set)	</th>
                        </tr>
                        <tr>
                            <th>11pm</th><th>Trunk Space b2b Weix	</th>
                        </tr>
                        <tr >
                            <th>12pm</th><th>Bastiansé<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>1:30am-3am</th><th>Biagi b2b Cut & Sew<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                    </table>
                </div>

                <div class="day">
                    saturday
                </div>
           
            </div>
        </div>


    </div>
</div>
