/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#page {
  display: flex;
}

.left-col {
    color: white;
    background-color: rgb(82, 95, 127);
    width:50%;
    height: 100vh;
}
    
.right-col {
  background-color: white;
  width:50%;
  height: 100vh;
}
    
.container {
  /* position: relative; */
  width: 100%;
  height: inherit;
}

.back-button {
    color: white;
    padding: 20px;
    display: inline-flex;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#product-image {
  margin: 0 auto;
}

.center {
  /* position: relative; */
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

#product-image {
  border-radius: 10px;
  width: 220px;
  display: block;
}

#info {
  font-size: 30px;
}

#minus {
  border-radius: 5px 5px;
  border: none;
  background-color: red;
}

@media only screen and (max-width: 970px) {
#page {
  display: block;
}
.left-col {
  width: 100%;
  padding: 0;
  height: 20%;
}
.right-col{
  width: 100%;
}
.container{
  width: 100%;
}

.center {
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}

#info {
  -webkit-order: 2;
  order: 2;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

#product-image {
  -webkit-order: 1;
  order: 1;
  padding: 0;
}

.back-button {
  position: relative;
  left: 0;
  width: 100vw;
  padding: 0;
  /* background-color: red; */
}

#product-image {
  width: 120px;
}
} 