<div style="overflow-x: hidden; display: flex;
flex-direction: column;
justify-content: space-between;
height: 100vh; text-align: center;">
    <menu></menu>
    <h2 class="main-txt" style="padding-left: 1.3rem; padding-right: 1.3rem;">BIG BOND SURVIVAL GUIDE</h2>

    <div class="top">
        <div class="content-wrapper">
            <p>THIS GUIDE IS ESSENTIAL READING FOR ALL WHO WISH TO JOIN THE BIG BOND COMMUNITY</p>
            <p>(view a PDF of the survival guide)</p>
            <details>
                <summary>The Essentials</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div class="content">
                        <p> <span class="sub-point">1. Toilets: </span> 
                        &nbsp; If it didn't come out of your body and is not single ply toilet paper, it doesn't belong in the toilets.</p>
                    </div>
                    <div class="content">
                        <p> <span class="sub-point">2. Laws: </span> 
                            &nbsp; Big Bond takes place on private land, but state and federal laws still apply. You will most likely pass a border
                            patrol check point on your way to and from Big Bond. A bad interaction with law enforcement is a sure way
                            to mess up your Big Bond experience. Read more about this in the Law Enforcement section of the survival guide.
                        </p>
                    </div>
                    <div class="content">
                        <p> <span class="sub-point">3. Safety: </span> 
                            &nbsp; The Chihuahuan Desert is a remote and inhospitable place. <b>You are responsible for your own safety and decisions.</b>
                            The nearest EMS response center is 8 minutes from the camp grounds; however, the nearest hospital is 1.5 hours away.
                            Practice caution and make responsible decisions. Wear lights at night, bring a small first aid kit, and look out for each other.
                        </p>
                    </div>
                    <div class="content">
                        <p> <b>4</b><span class="sub-point">. Preparation: </span> 
                            &nbsp; The Big Bond camp grounds have bathrooms and outdoor showers. However, the water is not potable. You are responsible for 
                            bringing your own potable water and any other supplies you will need, including shelter and food. Bring 1.5 gallons of water per
                            person per day. While you may be able to buy supplies in Terlingua, no supplies will be sold at Big Bond.
                        </p>
                    </div>
                    <div class="content">
                        <p> <span class="sub-point">2. Wristbands: </span> 
                            &nbsp; All attendees need a valid wristband. A wristband grants you entry to and camping at Big Bond. As long as you are still
                            wearing a valid wristband, you may come and go from the grounds as you please for the duration of Big Bond. All wristband sales are final
                            and will be mailed out a few weeks prior to Big Bond 2024. All wristband holders are legally bound to the 
                            <a href="https://bigbond.us/terms-and-conditions">terms and conditions</a>.
                        </p>
                    </div>
                </div>
            </details>

            <details>
                <summary>The Big Bond Ethos</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Surviving At Big Bond</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Leave No Trace</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Arriving At Big Bond</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Law Enforcement</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Personal Checklist</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Big Bond Infrastructure</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Big Bond Grounds</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Your Role In The Future Of Big Bond</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>
        </div>

        <div class="ncnf">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>
</div>

