<div style="overflow: hidden">
    <menu></menu>
    <div style="text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">BIG BOND SURVIVAL GUIDE</h2>

        <div class="top">
    
            <p style="text-align: center;">
                big bond halalala shamackalacka
            </p>

           
        <div style="position: absolute; right: 0; display: block; margin-left: auto; margin-right: auto;
        width: 100%;">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>

</div>
