<div style="overflow-x: hidden; display: flex;
flex-direction: column;
justify-content: space-between;
height: 100vh; text-align: center;">
    <menu></menu>
    <h2 class="main-txt" style="padding-left: 1.3rem; padding-right: 1.3rem;">BIG BOND SURVIVAL GUIDE</h2>

    <div class="top">
        <div class="content-wrapper">
            <p>THIS GUIDE IS ESSENTIAL READING FOR ALL WHO WISH TO JOIN THE BIG BOND COMMUNITY</p>
            <p>(view a PDF of the survival guide)</p>
            <details>
                <summary>First Summary</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Second Summary</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>

            <details>
                <summary>Third Summary</summary>
                <div class="content">
                    Lorem ipsum dolor sit amet. Et cupiditate repellat eum tempore laboriosam non recusandae quisquam 33 accusantium nobis sit aspernatur nostrum et doloremque nihil? Eos sint necessitatibus ut veritatis provident id impedit dolorem in laborum dignissimos? Eos totam consequatur ex ducimus consequatur sit corporis dolorem.

                    Et nemo rerum ea explicabo itaque id consequatur dolore et perspiciatis recusandae eum omnis quas eos quas asperiores ut aliquid velit. Ut quasi nulla quo reiciendis officia non iste aperiam ex similique voluptas et ratione consequatur ea necessitatibus sapiente eum Quis eius?
                    
                    Aut minus totam cum quasi quod cum illo eaque et autem provident sit quos ullam et exercitationem sunt. 
                </div>
            </details>
        </div>

        <div class="ncnf">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>
</div>

