<head>
    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '850393299322807');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=850393299322807&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<div style="overflow: hidden">
    <menu></menu>
    <div style="text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">DIRECTIONS</h2>

        <div class="top">
            <hr style="height:1px;border:none; background-color:black;">
    
            <p style="text-align: center;">
                Get the crew and load up your cars! The scenic West Texas drive is a journey worth taking. </p>

            <div style="padding: 30px; display: flex; justify-content: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d863677.5553960523!2d-103.92025067125908!3d29.595718350314698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa1b5dbb11ae84db!2zMjnCsDIwJzE4LjIiTiAxMDPCsDM1JzU4LjkiVw!5e0!3m2!1sen!2sus!4v1664348622006!5m2!1sen!2sus" 
                width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>       
            </div>
            <div style="display: flex; justify-content: center;">
                <button mdbBtn class="mdbBtn"
                onclick="location.href='https://www.google.com/maps/place/The+Goat+Pens+at+Cigar+Springs+Ranch/@29.3384783,-103.8785853,10.01z/data=!4m5!3m4!1s0x86edf919925f30ed:0x3bc6b6a3e3c4e221!8m2!3d29.3383789!4d-103.5996504'" type="button"
                style="border-radius: 5px; margin-bottom: 20px;">
                    Open In Google Maps
                </button>
            </div>
            <div style="text-align: center;">
                The use of <a href="https://support.google.com/maps/answer/6291838?hl=en&co=GENIE.Platform%3DiOS">google maps offline</a> 
                is suggested due to potential reception issues.
                <br>
                <a href="https://www.aclu.org/know-your-rights/stopped-by-police/">This</a>
                guide from the ACLU is a helpful resource in the case of police encounters along the way.
                <br>
                If you plan on flying, we recommend finding a flight to El Paso International Airport and renting a car for the weekend.
            </div>

        <div style="position: absolute; right: 0; display: block; margin-left: auto; margin-right: auto;
        width: 100%;">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>

</div>
