<div style="overflow: hidden">
    <menu></menu>
    <div style="color: white;text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">Directions</h2>

        <div class="top">
            <hr style="height:1px;border:none;color:white; background-color:white;">
    
            <p style="text-align: center;">If you plan on flying, we recommend finding a flight to <a href="https://elpasointernationalairport.com/">El Paso International Airport</a> and renting a car for the weekend.</p>
            <div style="padding: 30px; display: flex; justify-content: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884993.4613269869!2d-104.1568926957119!3d29.338738854824584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86edf919925f30ed%3A0x3bc6b6a3e3c4e221!2sThe%20Goat%20Pens%20at%20Cigar%20Springs%20Ranch!5e0!3m2!1sen!2sus!4v1643963917905!5m2!1sen!2sus" 
                width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>       
            </div>
            <div style="text-align: center;">
                You may want to <a href="https://support.google.com/maps/answer/6291838?hl=en&co=GENIE.Platform%3DiOS">use google maps offline</a> 
                because reception out there can get spotty.
                <br>
                It's a good idea to know what to do if stopped by police on your way. <a href="https://www.aclu.org/know-your-rights/stopped-by-police/">This</a>
                guide from the ACLU is a good resource.
            </div>
            <div style="display: flex; justify-content: center;">
                
                <button mdbBtn color=primary 
                onclick="location.href='https://www.google.com/maps/place/The+Goat+Pens+at+Cigar+Springs+Ranch/@29.3384783,-103.8785853,10.01z/data=!4m5!3m4!1s0x86edf919925f30ed:0x3bc6b6a3e3c4e221!8m2!3d29.3383789!4d-103.5996504'" type="button"
                style="border-radius: 5px; font-family: Moon; margin: 40px;">
                    Open In Google Maps
                </button>
            </div>
            
        </div>


    </div>
    <!-- <div style="color: white; margin: 30px;">
        <h2 class="main-txt" style="text-align: center;">Directions</h2>
        <p style="text-align: center;">If you plan on flying, we recommend finding a flight to <a href="https://elpasointernationalairport.com/">El Paso International Airport</a> and renting a car for the weekend.</p>
        <div style="padding: 30px; display: flex; justify-content: center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884993.4613269869!2d-104.1568926957119!3d29.338738854824584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86edf919925f30ed%3A0x3bc6b6a3e3c4e221!2sThe%20Goat%20Pens%20at%20Cigar%20Springs%20Ranch!5e0!3m2!1sen!2sus!4v1643963917905!5m2!1sen!2sus" 
            width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>       
        </div>
        <div style="text-align: center;">
            You may want to <a href="https://support.google.com/maps/answer/6291838?hl=en&co=GENIE.Platform%3DiOS">use google maps offline</a> 
            because reception out there can get spotty.
            <br>
            It's a good idea to know what to do if stopped by police on your way. <a href="https://www.aclu.org/know-your-rights/stopped-by-police/">This</a>
            guide from the ACLU is a good resource.
        </div>
        <div style="display: flex; justify-content: center;">
            
            <button mdbBtn color=primary 
            onclick="location.href='https://www.google.com/maps/place/The+Goat+Pens+at+Cigar+Springs+Ranch/@29.3384783,-103.8785853,10.01z/data=!4m5!3m4!1s0x86edf919925f30ed:0x3bc6b6a3e3c4e221!8m2!3d29.3383789!4d-103.5996504'" type="button"
            style="border-radius: 5px; font-family: Moon; margin: 40px;">
                Open In Google Maps
            </button>
        </div>
    </div> -->
</div>
<no-ceil-floor></no-ceil-floor>
