<div style="text-align: center; padding: 40px;">
    <h2 class="main-txt">SHOP POLICIES</h2>
    We hope you are happy with anything you choose to purchase. However, if you are not completely satisfied with your purchase please see below for more information on our return policy.
    <h3 class="main-txt" style="margin-top:20px;">
        Returns
    </h3>
    We accept exchanges only in the case of merchandise size not being as selected in the order.
     Please contact us at info@bigbond.us if you would like to exchange an item. 
    
    <h3 class="main-txt" style="margin-top:20px;">
        Shipping
    </h3>
    You will be responsible for paying for your own shipping costs for returning your item. The price paid for shipping your order is non-refundable. Depending on location, the time it may take for your exchanged product to reach you may vary. We do not guarantee that we will receive your returned item.
    <br>
    <button mdbBtn class="mdbBtn"  
    style="border-radius: 10px; letter-spacing: 3px; margin-top: 40px;
    left: 50%;" (click)=goToShop()>back to shop</button>
</div>


