<head>
    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '850393299322807');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=850393299322807&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<div style="text-align: center; padding: 40px;">
    <h2 class="main-txt">SHOP POLICIES</h2>
    <hr style="height:1px;border:none;background-color:black;">

    We hope you are happy with anything you choose to purchase. However, if you are not completely satisfied with your purchase
    we will try our best to make it right.
    <h3 class="main-txt" style="margin-top:20px;">
        Returns
    </h3>
    If you receive merchandise of a size you did not select when you placed your order, you can send the merchandise back
    and Big Bond will issue you a refund for the subtotal of the returned items (not including fees).
    Refunds are issued when Big Bond receives the item.
    Please email Big Bond at info@bigbond.us if you would like to return an item. 

    <h3 class="main-txt" style="margin-top:20px;">
        Shipping
    </h3>
    You will be responsible for paying for shipping costs when returning items.
    We can not guarantee that we will receive your returned item.
    Wristbands will be shipped out at least 2 weeks out from Big Bond 2023.
    <br>

    <div style="right: 0; display: block; margin-left: auto; margin-right: auto;
    width: 100%;">
        <button mdbBtn class="mdbBtn"  
        style="border-radius: 10px; letter-spacing: 3px; margin-top: 40px;
        left: 50%;" (click)=goToShop()>back to shop</button>
        <no-ceil-floor></no-ceil-floor>
    
    </div>

</div>


