<div style="text-align: center; padding: 40px;">
    <h2 class="main-txt">SHOP POLICIES</h2>
    <hr style="height:1px;border:none;background-color:black;">

    We hope you are happy with anything you choose to purchase. However, if you are not completely satisfied with your purchase please see below for more information on our return policy.
    <h3 class="main-txt" style="margin-top:20px;">
        Returns
    </h3>
    We accept exchanges only in the case of merchandise size not being as selected in the order.
     Please contact us at info@bigbond.us if you would like to exchange an item. 
    
    <h3 class="main-txt" style="margin-top:20px;">
        Shipping
    </h3>
    You will be responsible for paying for your own shipping costs when returning your item. 
    The time it will take for your exchanged product to reach you depends on your location. 
    We can not guarantee that we will receive your returned item.
    Wristbands will be shipped out at least 2 weeks out from Big Bond 2023.
    <br>

    <div style="right: 0; display: block; margin-left: auto; margin-right: auto;
    width: 100%;">
        <button mdbBtn class="mdbBtn"  
        style="border-radius: 10px; letter-spacing: 3px; margin-top: 40px;
        left: 50%;" (click)=goToShop()>back to shop</button>
        <no-ceil-floor></no-ceil-floor>
    
    </div>

</div>


