<div style="overflow: hidden; width: 100%">
    <menu></menu>
    <div style="text-align: center; padding-bottom: 0px;" >
        <img src="../../../assets/logo_black.png" style="width: 15vw; max-width: 100px;">
    </div>
    <div class="container">
        <ul class="product-gallery">
            <li *ngFor="let product of products">
                <mat-card >
                    <mat-card-header>
                      <div style="background-size: cover; background-image: url()"></div>
                      <mat-card-title>{{product.name}}</mat-card-title>
                      <mat-card-subtitle>${{product.properties.price/100}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src={{product.properties.image}} 
                    alt="Error loading image :(" style="margin: auto auto; margin-bottom: 10px;">
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi obcaecati laborum ipsa odit ipsum. Dicta quis tenetur non numquam, 
                        dignissimos nulla vitae nihil, recusandae vero aliquam distinctio excepturi et cum.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <select *ngIf="hasProp(product.properties, 'sizes')" required id="size">
                        <option *ngFor="let size of product.properties.sizes" value="{{size}}">{{size}}</option>
                      </select>
                      <select required id="qty">
                        <option *ngFor="let qty of product.properties.qty" value="{{qty}}">{{qty}}</option>
                      </select>
                      <button mdbBtn color="dark" (click)="addToCart(product)">add to cart</button>
                    </mat-card-actions>
                  </mat-card>
            </li>
              
            <!-- <li>
                <mat-card >
                    <mat-card-header>
                      <div style="background-size: cover; background-image: url()"></div>
                      <mat-card-title>Wristband pack</mat-card-title>
                      <mat-card-subtitle>$320.00</mat-card-subtitle>

                    </mat-card-header>
                    <img mat-card-image src="../../../assets/bands_smaller.jpg" 
                    alt="Error loading image :(" style="margin: auto auto; margin-bottom: 10px;">
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi obcaecati laborum ipsa odit ipsum. Dicta quis tenetur non numquam, 
                        dignissimos nulla vitae nihil, recusandae vero aliquam distinctio excepturi et cum.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mdbBtn color="light">add to cart</button>
                    </mat-card-actions>
                  </mat-card>
            </li>
            <li>
                <mat-card >
                    <mat-card-header>
                      <div style="background-size: cover; background-image: url()"></div>
                      <mat-card-title>White T-shirt</mat-card-title>
                      
                    </mat-card-header>
                    <img mat-card-image src="src/assets/product_pics/white_tshirt.jpg" 
                    alt="Error loading image :(" style="margin: auto auto; margin-bottom: 10px;">
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi obcaecati laborum ipsa odit ipsum. Dicta quis tenetur non numquam, 
                        dignissimos nulla vitae nihil, recusandae vero aliquam distinctio excepturi et cum.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mdbBtn color="light">size</button>
                      <button mdbBtn color="light">add to cart</button>
                    </mat-card-actions>
                  </mat-card>
            </li> -->
        </ul>
      </div>
    <div class="page">
        <!-- <div id="info"> -->
            <!-- <p style="color:#a4a4a6; font-size: 30px;">Big Bond <br> wristband</p>
            <h2>${{quantity * price}}</h2>
            <p style="color:#a4a4a6; font-size: 14px;">Qty. {{quantity}}, ${{price}} each <br>
            <br> Entrance to the camp grounds <br>and two nights of dancing in the desert.</p>
            <p style="font-size: 10px;color:#a4a4a6;">All sales are final</p> -->
            <!-- <p style="font-size: 30px;">Big Bond 2023 <br> wristbands coming soon!</p> -->

        <!-- </div> -->

        <!-- <ngx-number-spinner 
            style="color: black; width: 120px; margin: 20px auto; background-color: rgb(214, 214, 214); border-radius: 7px;"
            [value]="1"
            [min]="1"
            [max]="10"
            (change)="updateSessionQuantity()"
            [(ngModel)]="quantity">
        </ngx-number-spinner> -->
        <!-- <mdb-checkbox style=" font-size: 14px; margin: 15px;" (change)="onCheckboxChange()" ([ngModel])="checkboxStatus" [default]="true">
            I agree to the <a [routerLink]="['/terms-and-conditions']">terms and conditions</a>
        </mdb-checkbox>        -->
        <div style="display: flex; justify-content: center;">
          <button mdbBtn color="dark" (click)="viewCart()">
              view cart
          </button>
        </div>
        <no-ceil-floor></no-ceil-floor>

    </div>
</div>

