/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    
.page {
  /* position: relative; */
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;

}

// .back-button {
//   display: flex;
//   align-items: center;
//   text-align: center;
//   margin: 20px;
//   padding-left: 100px;
//   margin-top: 50px;
//   background-color: transparent;
//   background-repeat: no-repeat;
//   border: none;
//   cursor: pointer;
//   overflow: hidden;
//   outline: none;
// }

#product-image {
  margin: 0 auto;
  border-radius: 10px;
  width: 220px;
  display: block;
}

#info {
  margin-top:60px;
}

@media only screen and (max-width: 970px) {


#info {
  text-align: center;
  font-size: 16px;
}

.back-button {
  position: relative;
  left: 0;
  width: 100vw;
  padding: 0;
  margin: 20px;
}

#product-image {
  width: 120px;
}
} 