<div style="overflow: hidden">
    <menu></menu>
    <div style="padding-bottom: 0px;">
        <h2 class="main-txt" style="text-align: center;">ABOUT BIG BOND</h2>

        <div class="top">
            <div class="main">
                <h1>Responsive Card Grid Layout</h1>
                <ul class="cards">
                   <li class="cards_item">
                        <card
                        [imageString]="'mountains.webp'"
                        [title]="'THE BIG BOND SURVIVAL GUIDE'"
                        [description]="'The Big Bond Survival Guide is essential reading for all who wish to join the Big Bond community.
                        It has basically all the info you need and then some. Seriously, read it if you plan on coming to Big Bond.'"
                        [navToSelector] = "'faq'"
                        ></card>
                  </li>
                  <li class="cards_item">
                    <card
                    [imageString]="'manic.webp'"
                    [title]="'FREQUENTLY ASKED QUESTIONS'"
                    [description]="'lorem ipsum stuff about big bond and other stuff maybe also about the ethos or tenets or survival guide. you
                    get the idea you can write stuff here.'"
                  ></card>
                  </li>
                  <li class="cards_item">
                    <card
                    [imageString]="'grounds.webp'"
                    [title]="'THE BIG BOND ETHOS'"
                    [description]="'lorem ipsum stuff about big bond and other stuff maybe also about the ethos or tenets or survival guide. you
                    get the idea you can write stuff here.'"
                  ></card>
              </li>
              <li class="cards_item">
                <card
                [imageString]="'hill_squad.webp'"
                [title]="'THE BIG BOND ETHOS'"
                [description]="'lorem ipsum stuff about big bond and other stuff maybe also about the ethos or tenets or survival guide. you
                get the idea you can write stuff here.'"
              ></card>
              </li>
              <li class="cards_item">
                <card
                [imageString]="'hill_squad.webp'"
                [title]="'THE BIG BOND ETHOS'"
                [description]="'lorem ipsum stuff about big bond and other stuff maybe also about the ethos or tenets or survival guide. you
                get the idea you can write stuff here.'"
              ></card>
          </li>
          <li class="cards_item">
            <card
            [imageString]="'hill_squad.webp'"
            [title]="'THE BIG BOND ETHOS'"
            [description]="'lorem ipsum stuff about big bond and other stuff maybe also about the ethos or tenets or survival guide. you
            get the idea you can write stuff here.'"
          ></card>
          </li>
                </ul>
              </div>              
        </div>
    </div>
    <br><br><br>
    <no-ceil-floor></no-ceil-floor>
</div>
