<div style="overflow: hidden">
    <menu></menu>
    <div style="padding-bottom: 0px;">
        <h2 class="main-txt" style="text-align: center;">ABOUT BIG BOND</h2>

        <div class="top">
            <div class="main">
                <h1>Responsive Card Grid Layout</h1>
                <ul class="cards">
                  <card
                    [imageString]="'hill_squad.webp'"
                    [title]="'title'"
                    [description]="'lorem ipsum'"
                  ></card>
                  <li class="cards_item">
                    <div class="card">
                      <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
                      <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                      </div>
                    </div>
                  </li>
                  <li class="cards_item">
                    <div class="card">
                      <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
                      <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                      </div>
                    </div>
                  </li>
                  <li class="cards_item">
                    <div class="card">
                      <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
                      <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                      </div>
                    </div>
                  </li>
                  <li class="cards_item">
                    <div class="card">
                      <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
                      <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                      </div>
                    </div>
                  </li>
                  <li class="cards_item">
                    <div class="card">
                      <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                      <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              
              <h3 class="made_by">Made with ♡</h3>
        </div>
    </div>
    <br><br><br>
    <no-ceil-floor></no-ceil-floor>
</div>
