
/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

html {
  background-color: #ecf9ff;
}
.top{

}
body {
  color: #272727;
  font-family: 'Patita', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px;
  border-radius: 1rem;
  justify-content: center; /* Center the cards horizontally within each row */
}


@media (min-width: 500px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
