<head>
    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '850393299322807');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=850393299322807&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<div style="overflow: hidden; height: -webkit-fill-available; max-height: 100vh; ">
    <menu></menu>

    <div style="text-align: center; padding-bottom: 0px; height: 100vh;">
        <h2 class="main-txt"style="text-align: center;  position: absolute; top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);">2023 SCHEDULE COMING SOON</h2>

        <!-- <div class="top">
            <div class="center-container">
                <div class="day">
                    <table >
                        <td colspan="2" class="main-txt">
                            Friday<br><hr style="height:1px;border:none; width: 50%; background-color:white;">
                        </td>
                        <tr>
                            <th>4:30pm-5pm</th><th>weix kick off event</th>
                        </tr>
                        <tr>
                            <th>5pm-7pm</th><th>Biagi</th>
                        </tr>
                        <tr>
                            <th>7pm-8pm</th><th>weix (desert house set)</th>	
                        </tr>
                        <tr>
                            <th>8pm-10pm</th><th>Cut & Sew	</th>
                        </tr>
                        <tr>
                            <th>10pm-11pm</th><th>Trunk Space</th>
                        </tr>
                        <tr>
                            <th>11pm-12am</th><th>Trunk Space b2b<br> weix	</th>
                        </tr>
                        <tr >
                            <th>12am-1:30am</th><th>Bastiansé<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>1:30am-3am</th><th>James Lang (UK)<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                    </table>
                </div>
                <div class="day">
                    <table >
                        <td colspan="2" class="main-txt">
                            Saturday<br><hr style="height:1px;border:none; width: 50%; background-color:white;">
                        </td>
                        <tr>
                            <th>sunrise-8:15am</th><th>weix (sunrise set)</th>
                        </tr>
                        <tr>
                            <th>8:15am-11am</th><th>Bastiansé</th>
                        </tr>
                        <tr>
                            <th>11am-12pm</th><th>JD</th>	
                        </tr>
                        <tr>
                            <th>12pm-1:30pm</th><th>TiDDY</th>
                        </tr>
                        <tr>
                            <th>1:30pm-3pm</th><th>CJ.</th>
                        </tr>
                        <tr>
                            <th>3pm-4pm</th><th>Fomentum</th>
                        </tr>
                        <tr>
                            <th>4pm-5:30pm</th><th>Jorco</th>
                        </tr>
                        <tr>
                            <th>5:30pm-7pm</th><th>Manic Muse</th>
                        </tr>
                        <tr>
                            <th>7pm-8:30pm</th><th>Fomentum</th>
                        </tr>
                        <tr>
                            <th>8:30pm-9:30pm</th><th>Trunk Space</th>
                        </tr>
                        <tr>
                            <th>9:30pm-10:30pm</th><th>weix<br></th>
                        </tr>
                        <tr>
                            <th>10:30pm-12am</th><th>Family b2b<br></th>
                        </tr>
                        <tr>
                            <th>12am-1:30am</th><th>Cut & Sew<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>1:30am-3am</th><th>TiDDY<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>3am-4am</th><th>TBA<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>4am-sunrise</th><th>Bastiansé b2b <br>Biagi<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                    </table>
                </div>
           
            </div>
        </div> -->
        <!-- <div style=" background-color: teal; bottom: 50%; right: 0; display: block; width: 100%; height: 100%">
        <img src="../../../assets/logo_white.png" style="width:70px">
        </div> -->
        <div style="position: absolute; display: block; bottom: 0; margin-left: auto; margin-right: auto;
        width: 100%;">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>

</div>
