img {
    width: 90vw !important;
    max-width: 700px;
}
.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
    /* Will not allow the video to overflow the 
    container */
    overflow-x: hidden;
    color: black;
    height: 100vh;
    max-height: -webkit-fill-available;
    max-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    width:100vw;
  
      /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.content {
    height: -webkit-fill-available; 
    height: 100vh; 
    max-height: -webkit-fill-available;
    max-height: -moz-available; 
    width:100vw; 
    position: relative; 
    display: flex; 
    flex-flow: column;
  }

.title-container {
    position: static;
    flex: 0 1 auto;
    right: 0;
    left: 0;
    text-shadow: 0 0 10px rgb(202, 202, 202);
  
  }