<div style="overflow: hidden;">
    <menu></menu>

    <div style="color: white;text-align: center; padding-bottom: 0px;">
        <h2 class="main-txt" style="text-align: center;">schedule</h2>

        <div class="top">
            <!-- <hr style="height:1px;border:none; background-color:white; margin-left: 30px; margin-right: 30px;"> -->
            <div class="center-container">
                <div class="day">
                    <table >
                        <td colspan="2" class="main-txt">
                            Friday<br><hr style="height:1px;border:none; width: 50%; background-color:white;">
                        </td>
                        <tr>
                            <th>4:30pm-5pm</th><th>Weix kick off event</th>
                        </tr>
                        <tr>
                            <th>5pm-7pm</th><th>Biagi</th>
                        </tr>
                        <tr>
                            <th>7pm-8pm</th><th>Weix (desert house set)</th>	
                        </tr>
                        <tr>
                            <th>8pm-10pm</th><th>Cut & Sew	</th>
                        </tr>
                        <tr>
                            <th>10pm-11pm</th><th>Truck Space</th>
                        </tr>
                        <tr>
                            <th>11pm-12am</th><th>Trunk Space b2b<br> Weix	</th>
                        </tr>
                        <tr >
                            <th>12am-1:30am</th><th>Bastiansé<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>1:30am-3am</th><th>James Lang (UK)<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                    </table>
                </div>
                <div class="day">
                    <table >
                        <td colspan="2" class="main-txt">
                            Saturday<br><hr style="height:1px;border:none; width: 50%; background-color:white;">
                        </td>
                        <tr>
                            <th>sunrise-8:15am</th><th>Weix (sunrise set)</th>
                        </tr>
                        <tr>
                            <th>8:15am-11am</th><th>Bastiansé</th>
                        </tr>
                        <tr>
                            <th>11am-12pm</th><th>JD</th>	
                        </tr>
                        <tr>
                            <th>12pm-1:30pm</th><th>TiDDY</th>
                        </tr>
                        <tr>
                            <th>1:30pm-3pm</th><th>CJ.</th>
                        </tr>
                        <tr>
                            <th>3pm-4pm</th><th>Fomentum</th>
                        </tr>
                        <tr>
                            <th>4pm-5:30pm</th><th>Jorco</th>
                        </tr>
                        <tr>
                            <th>5:30pm-7pm</th><th>Manic Muse</th>
                        </tr>
                        <tr>
                            <th>7pm-8:30pm</th><th>Fomentum</th>
                        </tr>
                        <tr>
                            <th>8:30pm-9:30pm</th><th>Trunk Space</th>
                        </tr>
                        <tr>
                            <th>9:30pm-10:30pm</th><th>Weix<br></th>
                        </tr>
                        <tr>
                            <th>10:30pm-12am</th><th>Family b2b<br></th>
                        </tr>
                        <tr>
                            <th>12am-1:30am</th><th>Cut & Sew<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>1:30am-3am</th><th>TiDDY<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>3am-4am</th><th>TBA<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                        <tr>
                            <th>4am-sunrise</th><th>Bastiansé b2b <br>Biagi<br> <p style="font-size: 10px;color:#a4a4a6;">RV Renegade Stage</p></th>
                        </tr>
                    </table>
                </div>
           
            </div>
        </div>
        <!-- <div style=" background-color: teal; bottom: 50%; right: 0; display: block; width: 100%; height: 100%">
        <img src="../../../assets/logo_white.png" style="width:70px">
        </div> -->
        <div style="position: absolute; right: 0; display: block; margin-left: auto; margin-right: auto;
        width: 100%;">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>

</div>
