.container {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 12px;
    color: rgb(201, 201, 201);
    padding: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}