<div>
    <section>
        <img src="../../../assets/successimg.jpg">
    </section>
    
    <div class="container">
        <i class="fa fa-check-circle" style="font-size: 40px; padding: 10px;"></i>
        <div class="header">Payment Successful</div>
        <p>You should get an email with a reciept. You can expect your wristband to arrive by idk when.</p>
        <button mdbBtn color="primary" style="border-radius: 30px; font-family: Moon; letter-spacing: 3px;">home</button>
    </div>
    <!-- <div style="position: fixed; bottom: 40px; text-align: center; width: 100vw; color: rgba(170, 170, 170, 0.514); font-size: 12px;
        margin-top: 30px;">
        <p style="margin: 3px;">contact big bond</p>
        <p>info@bigbond.us</p>
    </div> -->

</div>