body {
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 100px; */
  display: flex;
  /* background: inherit; */
  justify-content: center;
  /* align-content: center; */
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.container {
  position: absolute;
  right: 0px;
  left: 0;
  top: 15vh;
  color: white;
  text-align: center;
  background-color: rgba(126, 126, 126, 0.384);
  backdrop-filter: blur(7px);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(26, 33, 48, 0.397);
  width: 600px;

  border-radius: 20px;
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
   -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera < 12.1 */
       animation: fadein 2.5s;
}


.glassmorphism {
  background: inherit;
}
.glassmorphism::before {
  background: inherit;
  box-shadow: inset 0 0 0 50vw hsla(0, 0%, 97%, 0.2); /* ADDED */ 
  content: "";
  filter: blur(10px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.glassmorphism span {
  position: absolute;
}

.header {
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "Patita";
  text-shadow: 0 0 7px white;


}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vw;
    position: absolute;
    top: 40px;
  }
  .header{
    font-size: 20px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}