<div>
    <section>
        <img src="../../../assets/successimg.jpg">
    </section>
    
    <div class="container">
        <i class="fa fa-check-circle" style="font-size: 40px; padding: 10px;"></i>
        <div class="header">Payment Successful</div>
        <p>You should receive an email with your reciept. You can expect your wristband to arrive in the mail by April 26. 
            <br>Please email info@bigbond.us with any questions. <br><br>Can't wait to see you!</p>
    </div>
    <button mdbBtn color="primary" 
    style="border-radius: 30px; font-family: Moon; letter-spacing: 3px; 
    left: 50%; position: absolute;  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); bottom: 0;" (click)=homeClicked()>home</button>

</div>