  <body>
    <menu></menu>

    <div class="content">

      <h1>Big Bond Ethos</h1>
      <p>A tenet is a specific principle, belief, or doctrine that is a fundamental element of a larger set of guiding principles. The Big Bond community subscribes to a collection of tenets. Together these tenets make up the Big Bond Ethos.</p>
  
      <h2>Accountability</h2>
      <p>Members of the Big Bond community practice personal responsibility and accountability. We do our best to be both physically and mentally prepared for all outcomes. We recognize that individuals are accountable for their own actions and decisions.</p>
  
      <h2>Authentic Expression</h2>
      <p>We encourage the full expression of self without judgment of self nor each other. Without judgment or normal social constructs, we are free to be our authentic selves. Acts of authentic expression should always respect the rights and liberties of others.</p>
  
      <h2>Inclusion</h2>
      <p>Anyone may join this community. Big Bond encourages actively welcoming and assisting the stranger.</p>
  
      <h2>Leave No Trace</h2>
      <p>We celebrate and respect the natural world wherever we are. We accept accountability for cleaning up after ourselves and strive to leave spaces better than we found them.</p>
  
      <h2>Life Is Now</h2>
      <p>Big Bond - as with life - is best experienced in the moment. This community tries to overcome obstacles - both real and imagined - that prevent us from living in the present moment.</p>
      <div class="ncnf logo-container">
        <no-ceil-floor class="logo"></no-ceil-floor>
    </div>
    </div>
  </body>