html, body {

}

.container {
  background: url('../../../assets/textbkg.webp') bottom center;
  background-size: cover; /* Stretch the background image without repeating */
  margin: 0;
  overflow: hidden;
  height: 100vh; /* Set height to 100 viewport height */
  position: relative;
}

.content {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 1.5;

  padding: 20px; /* Add some padding to prevent content from touching the edges */

  h1, h2 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    margin-bottom: 15px;
  }
}

.ncnf {
  margin-top: auto; /* Push .ncnf to the bottom of .top */
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 3;
  position: absolute;
  bottom: 0;
}
img {
  display: block;
  margin: 0 auto;  // Center the image horizontally
  width: 100%; 
  
}