<div style="overflow: hidden; height: 100%">
    <menu></menu>
    <div style="text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;
         padding-left: 50px; padding-right: 50px;">DETAILED PACKING LIST</h2>
        <div class="top">
            <hr style="height:1px;border:none; background-color:black;">
        </div>
         
    </div>
    <div class="list-content">
        <i class='fas fa-campground'></i>
        <p>
            A Tent, RV, or Vehicle with fold flat seats will work great. Sleeping bag, 
            pillow, and any other comfort essentials. Suggested: yoga mat, sleeping pad,
             chairs, and canopy

        </p>
        <i class="fas fa-utensils"></i>
        <p>
            Recommended: 1 gallon of water per person per day at a minimum. 
            Plan your meals. Recommended: hotdogs (don't forget skewers), sandwiches, and snacks. 
            Recommend at least 1 cooler with ice, paper towels, foil, utensils, and firewood.
            Exercise caution working with camping stoves and campfires. 
        </p>
        <i class="fas fa-tshirt"></i>
        <p>
            It will be nice in the daytime and cool at night. 
            (Ranging 40 - 75 degrees) Bring good tennis/hiking shoes, sunscreen. 
            Festival attire is encouraged, but feel free to wear anything you like.
        </p>
        <i class="fas fa-plus"></i>
        <p>
            Towel, bathroom essentials, first aid kit, sunglasses, bug spray, trash bags, flashlight, backpack, some cash, 
            chapstick, toilet paper, portable charger, and good vibes.
        </p>
    </div>
    <no-ceil-floor></no-ceil-floor>
</div>

