<div style="overflow: hidden; width: 100%">
  <menu></menu>


  <div class="container">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">item</th>
          <th scope="col">quantity & price</th>
          <th scope="col">total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><div>
            <p>hoodie</p><img src="../../assets/product_pics/hoodie.jpg">
          </div></th>
          <td>
            <div style="display: inline-block">
              <p>testing things</p>
              <select required >
                <option>0</option>
                <option>1</option>
                <option>2</option>

              </select>
            </div>
          </td>
          <td>Consectetur</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div style="display: flex; justify-content: center;">
    <button mdbBtn (click)="checkout()" class="mdbBtn">
        checkout
    </button>
  </div>
  <no-ceil-floor></no-ceil-floor>
</div>
