<div style="overflow: hidden; width: 100%">
  <menu></menu>

  <div style="text-align: center; padding-bottom: 0px;" >
    <h2 class="main-txt" style="text-align: center;">Cart</h2>
  </div>
  <div class="container">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">item</th>
          <th scope="col">quantity & price</th>
          <th scope="col">total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of this._cart.productIdsInCart">
          <tr >
            <th scope="row">
              <div>
                <p>{{this._cart.getCartFromSessionStorage()[product].name}}</p>
                <img src="{{this._cart.getCartFromSessionStorage()[product].image}}">
              </div></th>
              <td>
                <div style="display: inline">
                  quantity:
                  <div class="select">
                    <select required>
                      <option value="" disabled selected>{{this._cart.getCartFromSessionStorage()[product].quantity}}</option>
                      <option *ngFor="let qty of this._cart.getCartFromSessionStorage()[product].allowed_quantities" value="{{qty}}">{{qty}}</option>
                    </select>
                    <div class="select_arrow"></div>
                  </div>
                  <br>
                  x ${{this._cart.getCartFromSessionStorage()[product].price/100}}
                </div>
              </td>
              <td>${{this._cart.getCartFromSessionStorage()[product].price/100 * this._cart.getCartFromSessionStorage()[product].quantity}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <button mdbBtn (click)="test()"> click to test</button>
  
  <div style="display: flex; justify-content: center;">
    <button mdbBtn (click)="checkout()" class="mdbBtn">
        checkout
    </button>
  </div>
  <no-ceil-floor></no-ceil-floor>
</div>
