
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
        <mat-cell *matCellDef="let row">  {{element.position}} </mat-cell>
    </ng-container>
</table>


  
<!-- <div style="display: flex; justify-content: center;">
    <button mdbBtn (click)="checkout()" class="mdbBtn">
        checkout
    </button>
</div> -->