<div style="overflow-x: hidden; display: flex;
flex-direction: column;
justify-content: space-between;
height: 100vh; text-align: center;">
    <menu></menu>
    <h2 class="main-txt" style="padding-left: 1.3rem; padding-right: 1.3rem;">BIG BOND SURVIVAL GUIDE</h2>

    <div class="top">
        <div class="content-wrapper">
            <p style="font-family: ROC_Grotesk_Bold">THIS GUIDE IS ESSENTIAL READING FOR ALL WHO WISH TO JOIN THE BIG BOND COMMUNITY</p>
            <p>(view a <a href="../../../assets/survival_guide.pdf" target="_blank">PDF</a> of the survival guide)</p>
            <details>
                <summary>The Essentials</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div class="content">
                        <p> <span class="sub-point">1. Wristbands: </span> 
                            &nbsp; All attendees need a valid wristband. A wristband grants you entry to Big Bond and the campgrounds. 
                            As long as you are still wearing a valid wristband, you may come and go from the festival as you please for the duration of Big Bond. 
                            All wristband sales are final and will be mailed out a few weeks prior to Big Bond.
                            All wristband holders are legally bound to the 
                            <a href="https://bigbond.us/terms-and-conditions">terms and conditions</a>.
                        </p>
                    </div>
                    <div class="content">
                        <p> <span class="sub-point">2. Preparation: </span> 
                            &nbsp; The Big Bond camp grounds have bathrooms and outdoor showers. However, the water is not potable. You are responsible for 
                            bringing your own potable water and any other supplies you will need, including shelter and food. Bring 1.5 gallons of water per
                            person per day. While you may be able to buy supplies in Terlingua, no supplies will be sold at Big Bond.
                        </p>
                    </div>
                    <div class="content">
                        <p> <span class="sub-point">3. Safety: </span> 
                            &nbsp; The Chihuahuan Desert is a remote and inhospitable place. <b style="text-decoration: underline">You are responsible for your own safety and decisions.</b>
                            The nearest EMS response center is 8 minutes from the camp grounds; however, the nearest hospital is 1.5 hours away.
                            Practice caution and make responsible decisions. Wear lights at night, bring a small first aid kit, and look out for each other.
                        </p>
                    </div>
                    <div class="content">
                        <p> <b style="color: #75c8ae; font-size: 21px;">4</b><span class="sub-point">. Laws: </span> 
                            &nbsp; Big Bond takes place on private land, but state and federal laws still apply. You will most likely pass a border
                            patrol check point on your way to and from Big Bond. A bad interaction with law enforcement is a sure way
                            to mess up your Big Bond experience. Read more about this in the Law Enforcement section of the survival guide.
                        </p>
                    </div>
                    <div class="content">
                        <p> <span class="sub-point">5. Toilets: </span> 
                        &nbsp; If it didn't come out of your body and is not single ply toilet paper, it doesn't belong in the toilets.</p>
                    </div>
                </div>
            </details>

            <details>
                <summary>The Big Bond Ethos</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <p>A tenet is a specific principle, belief, or doctrine that is a fundamental element of a larger set of guiding principles. 
                        The Big Bond community subscribes to a collection of tenets. <br>
                        Together these tenets make up the Big Bond Ethos.
                        </p><br>
                    <div>
                        <p class="sub-point" style="text-align: center;">Accountability</p>
                        <p>Members of the Big Bond community practice personal responsibility and 
                            accountability. We do our best to be both physically and mentally prepared for all outcomes. 
                            We recognize that individuals are accountable for their own actions and decisions.
                        </p>
                    </div>
                    <br>
                    <div>
                        <p class="sub-point" style="text-align: center;">Authentic Expression</p>
                        <p>We encourage the full expression of self without judgment of self nor each other. 
                            Without judgment or normal social constructs, we are free to be our authentic selves. 
                            Acts of authentic expression should always respect the rights and liberties of others.
                        </p>
                    </div>
                    <br>
                    <div>
                        <p class="sub-point" style="text-align: center;">Inclusion</p>
                        <p>Anyone may join this community.<br>
                            This community encourages proactively welcoming and assisting the stranger. 
                        </p>
                    </div>
                    <br>
                    <div>
                        <p class="sub-point" style="text-align: center;">Leave No Trace</p>
                        <p>
                        We celebrate and respect the natural world wherever we are.
                         We accept accountability for cleaning up after ourselves and strive to 
                         leave spaces better than we found them.
                        </p>
                    </div>
                    <br>
                    <div>
                        <p class="sub-point" style="text-align: center;">Life Is Now</p>
                        <p>
                            Big Bond, as with life, is best experienced in the moment. This community strives to overcome obstacles, both 
                            real and imagined, that prevent us from living in the present moment.
                        </p>
                    </div>
                </div>
            </details>

            <details>
                <summary>Surviving At Big Bond</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div style="text-align:left;">
                        <p class="sub-point" style="text-align: center;">Safety</p>
                        <p>
                            &bull; &nbsp;The desert is an inhospitable environment. <b style="text-decoration: underline">You are accountable for your own preparations, safety,
                                and decisions.</b> Should you require emergency medical services, Terlingua Fire and EMS is located 8 minutes from the camp grounds on
                                FM170. Big Bend Regional Medical Center is the nearest hospital and is 1.5 hours away. Needless to say, a trip to the hospital would not be 
                                an enjoyable Big Bond experience, so make smart decisions and exercise caution.
                                <br> &bull; &nbsp;There are deep dried ravines and large rock formations on the grounds. Climbing the large rocks is dangerous and strongly 
                                discouraged - especially at night. Climb them and walk without lights at your own risk. Driving in camping
                                areas or in front of the stage is not allowed at night.
                                <br> &bull; &nbsp;Only build fires in rock rings and take steps to ensure the fire is controlled at all times. <b>Never use gasoline to start a fire.</b>
                                <br> &bull; &nbsp;To avoid carbon monoxide poisoning, never use equipment like camping stoves in enclosed spaces. Avoid running vehicles such as cars or generators
                                next to tents or enclosed spaces. Park vehicles a safe distance from sleeping areas.
                        </p>
                    </div>
                    <br>
                    <div style="text-align:left;">
                        <p class="sub-point" style="text-align: center;">Water</p>
                        <p>
                            &nbsp; &bull; &nbsp;While there are showers and restrooms at Big Bond, there is no potable water. You need to bring at least 1.5 gallons per person per day.
                        </p>
                    </div>
                    <br>
                    <div style="text-align:left;">
                        <p class="sub-point" style="text-align: center;">The Elements</p>
                        <p>
                            &nbsp; &bull; <span class="main-txt" style="color: #75c8ae;">Rain:</span>&nbsp;While rain at Big Bond is uncommon, come physically and mentally
                            prepared for it. Avoid high ground, elevate power connections and keep them dry, do not operate generators in standing water, rain proof your shelter
                            as best you can, and check on your neighbors. Hunker down until the weather passes.
                            <br>
                            &nbsp; &bull; <span class="main-txt" style="color: #75c8ae;">Temperatures:</span>&nbsp;Daytime temperatures can exceed 100 degrees F during the day
                            and drop into the low 50s or even lower at night. Be prepared for both extremes. Being at almost 3000 feet of elevation, the UV index is usually
                            higher than than it would be at lower elevations. Apply sunscreen often and consider setting up shade structures. Bring a good sleeping bag and warm clothes.
                            Consuming alcohol or caffeine can cause dehydration. If you notice headaches, stomach cramps, mood swings, or chills in warm weather, it could be
                            dehydration. Seek shade, drink water, and seek help from someone else immediately.
                        </p>
                    </div>
                    <br>
                    <div style="text-align:left;">
                        <p class="sub-point" style="text-align: center;">Lights</p>
                        <p>
                            &bull; &nbsp;It gets really dark at night. Its easy to step somewhere you didn't want to and for others to not be able to see you. 
                            carry a flash light and wear some decorative lights.
                        </p>
                    </div>
                </div>
            </details>

            <details>
                <summary>Leave No Trace</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div style="text-align:left;">
                        Leave No Trace is one of the tenets of the Big Bond Ethos. It is incumbent upon each of us to put this principle into practice. 
                        if it was not there when you arrived, it should not be there when you depart. There is no garbage collection at Big Bond. 
                        While there may be a few trash cans near the main stage, these are strictly for that drink you finished while dancing at the stage, 
                        so you do not have to return all the way to your campsite. All other waste you generate while at Big Bond must be taken with you when you leave. 
                        This includes any waste left by your pets. Do not try to locate a dumpster in Terlingua or neighboring communities to dispose of trash bags. 
                        The locals pay for trash collection services and will not appreciate visitors trying to take advantage of them. The future of Big Bond depends 
                        in part on maintaining good relations with the local community. Please wait to dispose of your trash until later in your journey home. 
                        If you encounter any trash, pick it up, even if it is not your own. Avoid bringing items like glitter, feathers, or anything that can be 
                        easily blown away by the wind. Wind gusts can be strong, and anything that can be carried away by wind probably will be, so be sure to 
                        secure anything that might blow away. 
                    </div>
                </div>
            </details>

            <details>
                <summary>Arriving At Big Bond</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div style="text-align:left;">
                        The entrance to Big Bond is on S County Road and will be on your right. Drive slowly because the gate can be easy to miss and other cars 
                        can come around corners. Use the address Goat Pens Circle, Terlingua, TX 79852.
                        Please be wearing your wristband when you arrive - it will make check in faster. Once at the gate, volunteers will ask everyone in your 
                        vehicle to show their wristbands, and conduct a quick vehicle search for prohibited items and stowaways, and welcome you to Big Bond.
                        You may park and set up camp anywhere in the designated camping areas. 
                        Campsites are available on a first come first serve basis.
                    </div>
                </div>
            </details>

            <details>
                <summary>Law Enforcement</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <p style="font-size: 14px; color: red;">This could be the most important stuff you read in the Survival Guide. Read it carefully.</p><br>
                    <div class="main-txt" style="font-size: 14px;">Disclaimer: This Survival Guide provides information about laws and regulations applicable to activities near the Big Bond grounds.
                        Legal information provided is not legal advice, and although we strive to ensure the accuracy and usefulness of the information provided here, you should 
                        consult with a lawyer if you want specific legal advice.
                    </div>
                    <div style="text-align:left;">
                        <p>
                            &bull; &nbsp;Big Bond takes place on private land, however federal and state laws still apply. It is the wild west, but at the same time, it really isn't.
                        </p>
                        <p>
                            &bull; &nbsp;It is not uncommon for sheriff's deputies to show up unannounced at Big Bond. Usually they are simply curious about the noise and Big Bond organizers handle
                            the situation without incident. However, in the unlikely event that a law enforcement officer asks to search your belongings, you do not have to consent to a search in most cases.
                            Note that refusing to consent to a search may not stop the officer from carrying out a search against your will, but making a timely objection before or during the search can help 
                            preserve your rights in any later legal proceeding. You have the right to record the officer subject to reasonable time, place, and manner restrictions.
                        </p>
                        <p>
                            &bull; &nbsp;You will likely pass a border patrol station on your way to and from Big Bond. If you are stopped, remain calm and provide identification if asked for it.
                            You have the right to remain silent but be truthful and polite. You can refuse a search but may face delays. If you believe your rights were violated, document the encounter and report 
                            any concerns later.
                        </p>
                        <p>
                            &bull; &nbsp;If you are the victim of a crime, report it IMMEDIATELY to the Brewster County Sheriff's office.
                        </p>
                        <p>
                             &bull; &nbsp;The use and possession of illegal drugs and drug paraphernalia are violations of the law. The possession of large quantites or a variety of drugs may be
                            interpreted as evidence of intent to distribute or traffick - a serious felony offense. Giving illegal substances to someone else could also be considered drug trafficking.
                        </p>
                    </div>
                </div>
            </details>

            <details>
                <summary>Personal Checklist</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div>                        
                        <p class="sub-point">What You Must Bring</p>
                        <div class="column-container">
                            <p>
                                &bull; &nbsp; 1.5 gallons of water per person per day
                            </p>
                            <p>
                                &bull; &nbsp; A reusable water bottle or camelbak
                            </p>
                            <p>
                                &bull; &nbsp; Sunscreen & sunglasses
                            </p>
                            <p>
                                &bull; &nbsp; Warm clothing
                            </p>
                            <p>
                                &bull; &nbsp; Trash bags
                            </p>
                            <p>
                                &bull; &nbsp; Flashlights
                            </p>
                            <p>
                                &bull; &nbsp; Prescriptions in their original containers and any other necessary health supplies like epi-pens.
                            </p>
                            <p>
                                &bull; &nbsp; Food and a plan for how to prepare it
                            </p>
                            <p>
                                &bull; &nbsp; Tent, van, RV, or other form of shelter
                            </p>
                            <p>
                                &bull; &nbsp; Common sense and a good vibe
                            </p>
                            
                        </div>
                
                        <p class="sub-point" style="padding-top: 2rem;">What You Should Bring</p>
                        <div class="column-container">
                            <p>
                                &bull; &nbsp; Firewood
                            </p>
                            <p>
                                &bull; &nbsp; A cooler & ice
                            </p>
                            <p>
                                &bull; &nbsp; A shade structure for your camp
                            </p>
                            <p>
                                &bull; &nbsp; Tent stakes
                            </p>
                            <p>
                                &bull; &nbsp; Chapstick
                            </p>
                            <p>
                                &bull; &nbsp; A camping stove
                            </p>
                            <p>
                                &bull; &nbsp; A small first aid kit
                            </p>
                            <p>
                                &bull; &nbsp; A wide hat (preferably wide brim)
                            </p>
                            <p>
                                &bull; &nbsp; decorative lights for your camp and to wear at night. Practice authentic expression and have fun with your outfits. There is no 
                                dress code at Big Bond. Be whoever you want to be.
                            </p>
                           
                        </div>
                        
                        <p class="sub-point" style="padding-top: 2rem;">What You Can Not Bring</p>
                        <div class="column-container">
                            <p>
                                &bull; &nbsp; Fireworks & explosives
                            </p>
                            <p>
                                &bull; &nbsp; ATVs
                            </p>
                            <p>
                                &bull; &nbsp; Stowaways 
                            </p>
                            <p>
                                &bull; &nbsp; Illegal drugs 
                            </p>
                            <p>
                                &bull; &nbsp; Firearms of any kind including BB guns, air rifles, painball, and airsoft guns
                            </p>
                        </div>
                    </div>
                </div>
            </details>

            <details>
                <summary>Big Bond Infrastructure</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div style="text-align:left;">
                        <p class="sub-point" style="text-align: center;">What Is Available</p>
                        <p>
                            &bull; &nbsp; Toilets and outdoor showers are available free of charge.
                        </p>
                        <p>
                            &bull; &nbsp; South County Rd. is a dirt road, but virtually all vehicles can handle it just fine.
                        </p>
                        <p>
                            &bull; &nbsp; A cash-only food truck with limited options may be available at select times. Hours of operation will likely spread by word of mouth at the event.
                            If someone is in the food truck, it is probably open for business. There is no guarantee the food truck will be available so still come prepared with food.
                        </p>
                        <p class="sub-point" style="text-align: center;">What Is Not Available</p>
                        <p>
                            &bull; &nbsp; Firewood, ice, food, potable water, and alcohol. These supplies might be available at the gas station at the intersection of Hwy 170 and Hwy 118 or other shops nearby.
                        </p>
                        <p>
                            &bull; &nbsp; Electricity.
                        </p>
                        <p>
                            &bull; &nbsp; Wifi.
                        </p>
                    </div>
                </div>
            </details>

            <!-- <details>
                <summary style="font-size: 16px; padding-right: 10px;">You And The Future Of Big Bond</summary>
                <div style="padding: 1.3rem; padding-top: 0;">
                    <div style="text-align:left;">
                    By joining the Big Bond community you play a significant role in the its future. The actions of the members of this community that shape what Big Bond is.
                    While you are encouraged to practice authentic expression, there are some things you can't do because they would jeopardize the future of Big Bond.
                    We rely on you to ensure that the Big Bond community lives on. If you are interested in being more involved in shaping the future of Big Bond, please
                    consider filling out our <a href="https://forms.gle/JKgF5j9bYfnwyURaA">staff/volunteer form</a>.
                    </div>
                </div>
            </details> -->
        </div>

        <div class="ncnf">
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>
</div>

