<!-- TODO: change this number once all content is added -->
<div style="min-height: 500px;"> 
    <mat-tab-group #tabGroup mat-align-tabs="center" [selectedIndex]="0"  dynamicHeight="true">
        <mat-tab label="packing list">
            <p style="text-align: center; padding-top: 5px;">Bring everything you'll need. Here's a list to help you out.</p>
            <div style="padding-top: 15px;">
                <i class='fas fa-campground fa-lg' id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    CAMPSITE</p>
                <hr style="border:1px solid white">
                You'll need somewhere to sleep! If your vehicle's seats fold down, throw down some blankets and a few pillows and you're set.
                A tent is another great option as long as you bring a sleeping bag and an inflatable sleeping pad.
                If camping really isn't your thing and you have friends and money to spend, RV rentals can be found at websites like 
                <a href="https://www.outdoorsy.com">outdorrsy.com</a> and <a href="https://www.cruiseamerica.com/">cruiseamerica.com</a>.
                We don't recommend hammocks as the only good place to string one up is between two vehicles.
                If you are a light sleeper, it might be a good idea to bring earplugs, especially if you plan on sleeping through the sunrise sets.
                A folding chair or two are also nice to have.
                <br>
                Keep in mind that depending on when you get on the road, you could end up having to set up camp in the dark which can be challenging for even the most experienced campers, so plan accordingly.
                <br><br>
                Bring trash bags! Leave your campsite better than you found it.
                <br><br>

                <i class="fas fa-utensils" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    FOOD</p>
                <hr style="border:1px solid white">
                What you decide to bring to eat is entirely up to you, but here's some advice if you don't know where to start.
                <br><br>
                Hotdogs are likely the easiest thing to cook when camping (don't forget skewers).
                If you plan on cooking over a campfire, bring your own firewood.
                It's the desert, so don't expect to find firewood at the campsite once you get there. Places like walmart and HEB usually sell bags of firewood.
                You might also want to bring some smaller sticks you find lying around to help the fire get started. You'll also need a lighter and something to get
                the fire going (dryer lint is a great option). Sandwiches are also a great option and its a good idea to bring things like protein bars, bananas, and 
                peanut butter.
                If you would rather not try to cook in the desert, look into dehydrated meals like <a href=" https://mountainhouse.com/">these</a>.
                Keep in mind that this option still requires you to boil water. 
                <br><br>
                You will want a good cooler and ice to keep your drinks and food cold. It is also extremely important to bring enough water. We recommend a gallon per person per day.
                This may seem like a lot, but the only thing worse than feeling like you might run out of water is actually running out of water. There is no potable water at the 
                campsite so we recommend a large jug like 
                <a href="https://www.amazon.com/Reliance-Products-Aqua-Tainer-Gallon-Container/dp/B07S6JXCYJ/ref=sr_1_6?keywords=reliance+water+container&qid=1642273092&s=sporting-goods&sprefix=reliance+%2Csporting%2C103&sr=1-6">this one</a>. 
                
                <i class="fas fa-tshirt" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    CLOTHES</p>
                <hr style="border:1px solid white">
                <div class="row">
                    <div class="column">
                        <ul>
                            <li>Costumes are encouraged</li>
                            <li>Good walking shoes</li>
                            <li>Pair of shoes to slip on and off easily at camp</li>
                            <li>Barefoot (the dirt is pretty soft and feels nice)</li>
                            <li>1 swim suit</li>
                            <li>1 long sleeve shirt</li>
                        </ul> 

                    </div>
                    <div class="column">
                        <ul>
                            <li>Hat</li>
                            <li>3-4 pairs of socks</li>
                            <li>2-3 short sleeve shirts</li>
                            <li>1 hoodie</li>
                            <li>3-4 pairs of underwear</li>
                            <li>1 pants/leggings</li>
                            <li>2 shorts</li>
                            <li>Rain jaceket (rain is unlikely but could happen)</li>
                        </ul> 
                    </div>
                </div> 
            
                <i class="fas fa-shower" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    TOILETRIES</p>
                <hr style="border:1px solid white">
                <div class="row">
                    <div class="column">
                        <ul>
                            <li>Toilet paper</li>
                            <li>Towel</li>
                            <li>Toothbrush</li>
                            <li>Personal hygene items as needed</li>
                        </ul> 
                    </div>
                    <div class="column">
                        <ul>
                            <li>Toilet and shower available, but no potable water</li>
                            <li>Toothpaste</li>
                            <li>Medications</li>
                        </ul> 
                    </div>
                </div> 
                
                <i class="fas fa-road" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    ROAD</p>
                <hr style="border:1px solid white">
                It's a long drive, so stock up on snacks and make a great playlist. Bring some driving buddies too and invite your friends!
                Don't put pillows and blankets in the trunk so you can nap on the road if needed. It's a good idea to fill up on gas in Alpine, TX
                because there aren't many opportunities until you get to Terlingua. 
                You may want to <a href="https://support.google.com/maps/answer/6291838?hl=en&co=GENIE.Platform%3DiOS">use google maps offline</a> 
                because reception out there can get spotty.
                
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px; padding-top: 20px;">
                    OTHER</p>
                <hr style="border:1px solid white">
                <div class="row">
                    <div class="column">
                        <ul>
                            <li>Flashlight</li>
                            <li>Sunscreen</li>
                            <li>Camera</li>
                            <li>Some cash</li>
                            <li>Charging cords</li>
                        </ul> 
                    </div>
                    <div class="column">
                        <ul>
                            <li>The bare minimum of keys (less to lose)</li>
                            <li>Backpack</li>
                            <li>Chapstick/vaseline</li>
                            <li>Portable charger</li>
                        </ul> 
                    </div>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="directions">
            <div style="padding: 30px;">
                directions
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>