<!-- TODO: change this number once all content is added -->
<div style="min-height: 1000px;"> 
    <mat-tab-group #tabGroup mat-align-tabs="center" [selectedIndex]="0"  dynamicHeight="true">
        <mat-tab label="packing list">
            <p style="text-align: center; padding-top: 5px;">Bring everything you'll need. Here's a list to help you out.</p>
            <div style="padding-top: 15px;">
                <i class='fas fa-campground fa-lg' id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    CAMPSITE</p>
                <hr style="border:1px solid white">
                You'll need somewhere to sleep! If your vehicle's seats fold down, throw down some blankets and a few pillows and you're set.
                A tent is another great option as long as you bring a sleeping bag and an inflatable sleeping pad.
                If camping really isn't your thing and you have friends and money to spend, RV rentals can be found at websites like 
                <a href="https://www.outdoorsy.com">outdorrsy.com</a> and <a href="https://www.cruiseamerica.com/">cruiseamerica.com</a>.
                We don't recommend hammocks as the only good place to string one up is between two vehicles.
                If you are a light sleeper, it might be a good idea to bring earplugs, especially if you plan on sleeping through the sunrise sets.
                A folding chair or two are also nice to have.
                <br><br>
                Bring trash bags! Leave your campsite better than you found it.
                <br><br>

                <i class="fas fa-utensils" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    FOOD</p>
                <hr style="border:1px solid white">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
            
                <i class="fas fa-tshirt" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    CLOTHES</p>
                <hr style="border:1px solid white">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
            
                <i class="fas fa-shower" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    TOILETRIES</p>
                <hr style="border:1px solid white">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
            
                <i class="fas fa-road" id=icon></i><br/>           
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    ROAD</p>
                <hr style="border:1px solid white">
                Don't worry, there's no need for a 4wheel drive or high clearance vehicle. Your toyota corolla will work fine.
            
                <p style="display: flex; justify-content: center; font-family: Moon; letter-spacing: 3px;">
                    OTHER</p>
                <hr style="border:1px solid white">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
            
            </div>
        </mat-tab>
        <mat-tab label="directions">
            <div style="padding: 30px;">
                directions
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>