section {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 100px; */
  display: flex;
  /* background: inherit; */
  justify-content: center;
  /* align-content: center; */
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.top_text {
  font-family: "Moon";
  letter-spacing: 3vw;
  position: absolute;
  right: 0px;
  left: 0;
  top: 12vh;
  text-shadow: 0 0 10px white;
}

#title {
  text-align: center;
  color: white;
  font-size: 70px;
  padding-top: 3vh;
  z-index: 1;
}

#subtitle {
  text-align: center;
  color: white;
  font-size: 25px;
  letter-spacing: 20px;
}

#ground {
  z-index: 2;
  height: 100%;
}

.transition {
  content: '';
  position: absolute;
  top: calc(100vh - 50px);
  height: 50px;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to top, #1a1a20, transparent);
  /* background-color: purple; */
}


.nav-content{
  color: white;
  padding: 100px;
  padding-top: 50px;
  background-color:#1a1a20;
}

div button {
  display: flex;
  justify-content: center;
  align-items: center;
}


#logo {
  position: fixed;
  z-index: 100;
  height: 20%;
  min-height: 90px;
  position: absolute;
  bottom: 25%;
  right: 0px;
  left: 0px;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 20px;
   left: 20px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   border-radius: 10px;
   background: #ededed;
   background-color: rgba(228, 227, 227, 0.445);
   backdrop-filter: blur(5px);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


@media only screen and (max-width: 430px) {
  #logo{
    width: 130px;
    height: auto;
  }
  .top_text {
    letter-spacing: 3px;
  }
  .nav-content {
    padding: 20px;
  }
}

@media only screen and (max-height: 256px) {
  #title {
    display: none;
  }
  #subtitle {
    display: none;
  }
}


