section {
  width: 100%;
  min-height: 100vh;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  object-fit: cover;
  pointer-events: none;
}

.top_text {
  font-family: "Moon";
  letter-spacing: 3vw;
  position: absolute;
  right: 0px;
  left: 0;
  top: 12vh;
  text-shadow: 0 0 10px white;
}

#title {
  text-align: center;
  color: white;
  font-size: 70px;
  padding-top: 3vh;
  z-index: 1;
}

#subtitle {
  text-align: center;
  color: white;
  font-size: 25px;
  letter-spacing: 20px;
}

#ground {
  z-index: 2;
  height: 100%;
}

.transition {
  content: '';
  position: absolute;
  /* the height and calc number needs to match */
  height: 70px;
  top: calc(100% - 70px);
  width: 100%;
  z-index: 100;
  background: linear-gradient(to top, #1a1a20, transparent);
  /* background-color: purple; */
}


.content{
  position: absolute;
  top: calc(100%);
  color: white;
  padding: 100px;
  padding-top: 50px;
  background-color: #1a1a20;
}

div button {
  display: flex;
  justify-content: center;
  align-items: center;
}


#logo {
  z-index: 100;
  height: 20%;
  min-height: 90px;
  position: absolute;
  bottom: 25%;
  right: 0px;
  left: 0px;
}


@media only screen and (max-width: 430px) {
  #logo{
    width: 130px;
    height: auto;
  }
  .top_text {
    letter-spacing: 3px;
  }
  .content {
    padding: 20px;
    
  }
}

@media only screen and (max-height: 256px) {
  #title {
    display: none;
  }
  #subtitle {
    display: none;
  }
}


