
<div style="min-height: calc(100%); overflow: hidden;">

    <div>
        <section>
            <menu></menu>

            <img src="../../assets/sky_2-min.png" id="sky">
            <img src="../../assets/ground_2-min.png" id="ground">
            <div class="transition"><p style="display: none;"></p></div>

        </section>
    
        <div class="top_text">
    
            <h2 id="title">big bond</h2>
            <div id="subtitle">
                April 
                <div class="dates">29 & 30 </div>
            </div>
        </div>
        <img id="logo" src="../../assets/logo_transparent_white.gif" class="img-fluid mx-auto d-block">
    </div>
</div>
<div class="content">
    <p style="text-align: center; letter-spacing: 3px;">We can all escape.<br> Let's dance in the desert.</p>
    <div style="display: flex; justify-content: center; padding: 30px;">
        <button mdbBtn color="primary" (click)="wristbandsClicked()" 
        style="border-radius: 5px; font-family: Moon; letter-spacing: 3px; font-size: 15px;">
            wristbands
        </button>

    </div>
    <h2>Friday, April 29th</h2>

    <no-ceil-floor></no-ceil-floor>

</div>
