body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

section {
  width: 100%;
  min-height: 100vh;
}
.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;
  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  height: 100vh;
  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  
}
.content {
  font-family: "Moon";
  letter-spacing: 3vw;
  position: static;
  right: 0px;
  left: 0;
  top: 12vh;
  text-shadow: 0 0 10px rgb(190, 190, 190);
}

#title {
  text-align: center;
  color: rgb(190, 190, 190);
  font-size: 70px;
  white-space: nowrap;
  padding-top: 3vh;
}

#subtitle{
  text-align: center;
  color: rgb(190, 190, 190);
  font-size: 18px;
  letter-spacing: 2px;

}

.dates {
  font-size: 18px; 
  letter-spacing: 10px;
  text-align: center;
}

div button {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  padding: 10px;
}

#mobile-lineup {
  display: none;
  margin-bottom: 20px;
  letter-spacing: 3px; 
  font-size: 18px;
}

#dt-lineup {
  display: block;
  margin-bottom: 20px;
}

#dt-lineup button {
  display: inline-block !important;
  background-color: transparent;
  border: none;
  color: white;
  letter-spacing: 3px; 
  font-size: 18px;
  outline: none;
  padding-bottom: 16px;
}

#mobile-lineup button {
  display: inline-block !important;
  background-color: transparent;
  border: none;
  color: white;
  letter-spacing: 3px; 
  font-size: 18px;
  outline: none;
}

#logo {
  height: 20%;
  position: absolute;
  bottom: 20%;
  right: 0px;
  left: 0px;


}

mat-accordion mat-expansion-panel{
  margin: auto auto;
  background-color: #14141a;
  box-shadow: 0 0 5px 5px #2a2a33;
  color: white;
  max-width: 600px;
  width: 90%;
}

mat-expansion-panel-header:hover {
  background-color: inherit !important;
}

mat-expansion-panel-header {
  color: white;
  padding: 0;
}

@media only screen and (max-width: 630px) {
  #mobile-lineup {
    display: block;
  }
  #mobile-lineup button{
    padding: 5px;
  }
  
  #dt-lineup {
    display: none;
  }

  .top_text {
    letter-spacing: 3px;
  }
  p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  #title {
    font-size: 15vw;
    text-align: center;
  }
  #subtitle {
    font-size: 4vw;
  }
  .dates {
    font-size: 5vw;
  }
}

@media only screen and (max-height: 400px) {
  .top_text {
    top: 50%;
    transform: translateY(-50%);
  }
}


