<div style="min-height: 100vh; overflow: hidden;">

    <section>
        <img src="../../assets/sky_2.png" id="sky">
        <img src="../../assets/ground_2.png" id="ground">
    </section>
    <div style="position: absolute; top:0;  z-index: 100;">
        <!--    Made by Erik Terwan    -->
        <!--   24th of November 2015   -->
        <!--        MIT License        -->
        <nav role="navigation">
            <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />
            
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Info</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
            </ul>
            </div>
        </nav>
    </div>
    <div class="top_text">
        <h2 id="title">big bond</h2>
        <div id="subtitle">
            April 
            <div style="font-size: 18px; letter-spacing: 10px;">29 & 30 </div>
        </div>


    </div>
    <img id="logo" src="../../assets/logo_transparent_white.gif" class="img-fluid mx-auto d-block">
    <div class="transition"><p style="display: none;">test</p></div>
</div>

<div class="nav-content">
    <h1 style="text-align: center; font-family: Moon;">about</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
    <div style="display: flex; justify-content: center; padding-bottom: 15px;">
        <button mdbBtn color="primary" (click)="wristbandsClicked()" style="border-radius: 5px; font-family: Moon; letter-spacing: 3px; font-size: 15px;">
            wristbands
        </button>
        
    </div>
    <info-tabs></info-tabs>
</div>