<div style="overflow: hidden; height: 100%" class="text-container">

    <div style="color: white; text-align: left; padding-bottom: 0px;" >
        <div>
            <h2 class="main-txt" style="text-align: center;">Terms and Conditions</h2>
            <hr style="height:1px;border:none;color:white; background-color:white;">
            
        </div>
    In order for the purchaser and/or holder (hereinafter referred to as you “You”
    or “Your”) of a valid wristband or ticket (“Wristband” or “Ticket”) to enter the
    Big Bond event (the “Event”), You must possess a valid Wristband that permits
    access to the Event. ‍ 
    <br><br>

    ARTICLE 1: YOUR WRISTBAND ‍<br>
    Please be advised, the purchase and/or use of a Wristband to, and/or entry into, the Event shall
    constitute Your unconditional acceptance to be bound by any and all of the terms
    and conditions contained within this agreement (this “Agreement”) between You
    and Big Bond and its organizers to attend all or part of the Event. For the
    avoidance of doubt, Your presence at the Event will be governed by this
    Agreement. For safety reasons, Big Bond and its organizers reserves the right
    to, without any prior notice or compensation to You: postpone, cancel, interrupt
    or stop the Event; and totally or partially vacate the Event site. Subject to
    the limitations of this Agreement, Big Bond and its organizers reserves the
    right to change, modify, or alter any aspect of the Event (including, without
    limitation, the appearance of any performer or artist, and/or the order of
    performance of any performer or artist), at any time, for any reason whatsoever,
    without any prior notice or compensation to You. You understand that the artists
    and/or lineup for the Event may be changed and that such occurrence shall not,
    under any circumstances, entitle You to any claim whatsoever, including, but not
    limited to, a refund for Your Wristband. You understand, acknowledge, and agree
    that the names of any artist, act or performer contained in any Event
    promotional material is intended for informational purposes only, and does not,
    in any way, represent the importance or headline status of any single artist,
    act or performer, and is subject to change without prior notice. ‍EXCEPT AS
    EXPLICITLY OTHERWISE PROVIDED HEREIN, YOU UNCONDITIONALLY UNDERSTAND THAT ALL
    TICKET SALES ARE FINAL. YOU ARE NOT ENTITLED TO A TICKET REFUND AND/OR A TICKET
    EXCHANGE. THE EVENT IS A RAIN OR SHINE EVENT. ‍If the Event is canceled in
    whole, or in part, due to a Force Majeure Event (as defined below), You will not
    be entitled to a refund. Notwithstanding the foregoing, Big Bond and its
    organizers may issue, at its organizers’s sole and absolute discretion, a
    partial or full refund of Your Wristband, by accounting for, among other
    considerations, the extent and nature of the cancellation. A “Force Majeure
    Event” shall mean an act of God, act of terrorism, earthquake, wildfire, flood,
    tsunami, strike or other labor condition or dispute, an order or injunction of
    any court or administrative body or any other act of public authority, severe
    weather threatening the safety of Event attendees or similar contingency or
    unexpected event, and any such occurrence beyond the reasonable control of Big
    Bond and its organizers. You understand that in all instances, the maximum
    remedy You may receive for any cancellation of any part of the Event, if any,
    will be the face value of Your Wristband, excluding all fees, taxes and/or
    service charges paid by You in connection with the purchase of Your Wristband.
    By entering the Event, You assume any and all risk and/or danger, known and
    unknown, foreseeable and unforeseeable, resulting from, or incidental to, the
    Event, whether occurring prior to, during, or subsequent to, the Event,
    including, but not limited to, any death, personal injury or loss, damage or
    liability whatsoever. You understand that Your use of Your Wristband is
    contingent upon Your voluntary assumption of the risk and danger that may result
    from, or be incidental to, Your presence at the Event, whether occurring prior
    to, during or after the Event, including, but not limited to, any actions or
    omissions of Big Bond and its organizers (as defined herein). You acknowledge
    and understand that the Wristband is a revocable license to attend the Event for
    which it was issued, which is subject to revocation and denial of admission
    without compensation for any reason, including, but not limited to, Your
    attempted or actual violation of any of the rules set forth herein, policy or
    regulations and for any other action taken by You in violation of any local,
    state or federal law, or that may endanger other ticketholders. 
    <br><br>

    ARTICLE 2:TICKET REQUIRED <br>
    In order to enter into the Event, You must have Your own valid
    Wristband. One (1) Wristband is required per attendee and will only be valid on
    the day(s) of the Event as indicated on the Wristband. Your Wristband is not
    redeemable for cash. There will be no replacements for Wristbands that are lost,
    stolen, destroyed or damaged and You unconditionally accept the risk of damage
    to, loss of and/or theft of Your Wristband. Your Wristband is intended for You
    only. In no instance shall You share Your Wristband with any person(s) attending
    or attempting to attend the Event. If You are discovered to be sharing Your
    Wristband with another person(s), Big Bond and its organizers reserves the
    right, in its sole discretion, not to grant You access to the Event or eject You
    from the Event. An exception may be made for ‘gifting’ Your Wristband to someone
    else with the understanding that they will be attending in Your place. You may purchase
    more than one Wristband with the intent to transfer the Wristband(s) to someone else for no
    material gain. <b style="text-decoration: underline;">If purchasing more than 
        one Wristband with the intent of giving, selling, or otherwise transferring
        Wristbands to others, You understand that it is Your responsibility to inform those people to which You are 
        transferring Wristbands of these 
        terms and conditions. It will be assumed that attendees with valid wristbands are aware 
        of and agree to these terms and conditions.
    </b> To ensure
    that Your Wristband is valid, purchase Your Wristbands directly from the Big
    Bond website https://bigbond.us. Wristbands from unauthorized sales channels
    (e.g., scalpers) may be forged. In no event will forged tickets be honored or
    eligible for a refund. If You have any questions or concerns regarding ticketing
    for the Event, including but not limited to, payment plans, please email event
    organizers at info@bigbond.us In order to receive Your Wristband, you will be
    asked to identify Yourself upon arriving at the Event. 
    <br><br>

    ARTICLE 3: PROHIBITIONS<br>
    At any time access to the Event site may PROHIBITED and refused to, but not
    limited to, people who:<br> Are demonstrating an intent to disturb the peace or to
    provoke someone else to do so; Engage in fighting or disruptive behavior;
    Display in any form hate speech and/or hate symbols; Resist the direction of the
    Event security and/or event organizers; Refuse to declare and forfeits objects
    that are prohibited, as set forth herein; Distribute flyers or posters on or
    near the Event site. If You would like to promote one of Your events, then
    please contact Big Bond and its organizers at info@bigbond.us; And act in
    violation of the provisions of one or more articles of these regulations or in
    the spirit thereof. ‍ <br>
    PROHIBITED ITEMS FOR THE EVENT: <br>
    <ul>
        <li>
            NO WEAPONS OF ANY KIND
    (REGARDLESS OF PERMIT)
        </li>
        <li>
            NO PAINT OF ANY KIND (INCLUDING PAINT MARKERS AND SPRAY
    PAINT)
        </li>
        <li>
            NO VENDING WITHOUT PERMIT
        </li>
        <li>
            NO BICYCLES, SCOOTERS, GO
    CARTS, OR ATVS
        </li>
        <li>
            NO PETS – UNLESS it is a service animal, and You are a person
    with disabilities, or service animals in-training and have appropriate apparel
    and have on Your person credentials from an accredited school for which the dog
    is being raised. Please e-mail Your questions regarding service animals to Big
    Bond and its organizers at info@bigbond.us.
        </li>
        <li>
            NO PROJECTILES OR EXPLOSIVES Any
            other items which pose a threat to the safe enjoyment of the patrons as deemed
            by the Event organizers.
        </li>
        <li>
            If You bring any of the items on the above prohibited
            items list into the Event, such items may be confiscated and/or discarded and
            You will be subject to removal from the Event based on the sole discretion of
            Big Bond and its organizers. Event organizers may hold prohibited items for You,
            but are not required to under any circumstances. ‍ 
        </li>
    </ul>

    ARTICLE 4: CONDUCT AT THE EVENT <br>
    At the Event, You are forbidden to: 
    <ul>
        <li>
            Climb the stage or any other
            infrastructure of the Event site; 
        </li>
        <li>
            Obstruct entrances, exits and evacuation
            routes any longer than strictly necessary for entering or exiting the Event
            site;
        </li>
        <li>
            Display or make texts, symbols, images, gestures, wear clothing or
    articles of dress which, in the sole discretion of Event staff or security
    personnel, contain and/or display language and/or images which are obscene,
    racist, xenophobic, provocative, hate speech or discriminatory; 
        </li>
        <li>
            Disturb the
    peace, demonstrate an intent to disturb the peace or provoke someone else to do
    so, or compromise the safety of the general public; 
        </li>
        <li>
            Sell drinks, food, or any
    other product without the express consent of Big Bond and its organizers; 
        </li>
        <li>
            Re-enter the Event after being removed or banned from the Event, even if You are
    in possession of a new Wristband (such Wristband will not be refunded); 
        </li>
        <li>
            Deface, mark, damage, tear down or otherwise destroy, in whole or in part, any
    of the decorations, infrastructure or part of the Event site;
        </li>
        <li>
            Litter or fail
            to maintain the cleanliness of the Event site. (pack it out); 
        </li>
        <li>
            Resist the
    direction of Event organizers;
        </li>
        <li>
            Refuse to declare and forfeit objects that are
    considered to be dangerous or off-limits by the Event’s organizers – organizers
    are under no obligation to return such forfeited items;
        </li>
        <li>
            Act in violation
    of the provisions of one (1) or more articles of these regulations or the spirit
    thereof. You must heed the directions of Event organizers and security personnel
    at all times whilst on the Event site. If You fail to comply with such
    directions, You may be removed from the Event site, and, if necessary, Event
    staff may call on the police for assistance. 
        </li>
    </ul>

    ARTICLE 5: RE-ENTRY <br>
    Wristband holders that wish to exit the Event will retain the right to re-enter the Event
    site as long as their Wristband has not been removed or tampered with in any
    way. If You are removed from the Event, Your ticket shall not be refunded and
    You will be denied re-entry, even if You are in possession of a new Wristband.
    If You have a new Wristband, Event staff may seize that Wristband and You shall
    not receive a refund. 
    <br><br>

    ARTICLE 6: UNAUTHORIZED SALE OR USE OF TICKET <br>
    Anyone caught forging entry tickets in order to access or sell such tickets to the
    Event will be prosecuted without exception. Counterfeit tickets will not be
    honored or refunded by Big Bond and its organizers and Your purchase of such
    ticket(s) is not binding on Big Bond and its organizers whatsoever. Anyone
    caught tampering with or sharing their Wristband may be immediately ejected and
    banned from the Event. Wristbands may not be resold for material gain without
    prior explicit permission from Big Bond and its organizers. Wristbands which
    appear to have been resold for material gain and without permission from Big
    Bond and its organizers may not be honored or subject to a refund. The resale,
    attempted resale, or purchase of Your Wristband at a price higher than the
    official purchase price found on the Event website https://bigbond.us or other
    sale channels authorized by Big Bond organizers, is grounds for seizure and
    cancellation of Your Wristband without compensation. Wristbands may not be used
    in association with any giveaway, sweepstakes, contest or similar activities,
    including, but not limited to, as a prize or incentive, without Big Bond and its
    organizers’s prior written consent. Any Wristband so used will automatically
    become void at Big Bond and its organizers’s sole discretion with no refund to
    You and/or the ticketholder. ‍ 
    <br><br>

    ARTICLE 7: RECORDINGS <br>
    By attending the Event, You understand, agree and acknowledge that You may be photographed and filmed, and
    (ii) You hereby provide Big Bond and its organizers with Your absolute, express
    consent to be photographed and filmed. You further understand and agree that
    these images and/or recordings can be registered, stored, transmitted,
    broadcast/streamed, rebroadcast, and sold for archival, promotional, and/or
    commercial purposes, in any manner, and in any media, now known or hereafter
    discovered, without any compensation to You. Your name, image and/or Your
    likeness may be captured as part of and/or used in connection with any
    broadcast/stream, audio, visual, or audio-visual recording, photograph, or other
    reproduction or other publication of the Event (the “Footage”) and may also be
    used by or on behalf of Big Bond and its organizers or any of Big Bond and its
    organizers’s parent entities, subsidiaries, affiliates, partners, sponsors,
    officers, shareholders, successors or assigns for any purpose, including, but
    not limited to, archival, promotional, and commercial purposes, without any
    compensation to You. You waive all other rights in and to the Footage,
    including, but not limited to, all claims of so-called moral rights. This
    Footage may be used as a means to identify and facilitate the prosecution of
    illegal or impermissible conduct. 
    <br><br>

    ARTICLE 8: MERCHANDISE <br>
    Unless you have received written permission from Big Bond and its organizers, You may not sell
    any items at the Event. Unauthorized sale of goods at the Event may result in
    your removal from the Event. 
    <br><br>

    ARTICLE 9: PARKING 
    The Big Bond and its organizers
    disclaims all responsibility from losses or damages to vehicles parked on or
    near the Event site. Big Bond and its organizers are not responsible for losses
    or damage to any vehicle towed from the Event site. 
    <br><br>

    ARTICLE 10: TRASH <br>
    You must
    maintain the cleanliness of the Event site and dispose of trash properly. The
    bathroom facilities at the Event are free of charge. It is forbidden to use any
    other location as a bathroom facility. You are expected to bring Your own trash
    bags and other methods of disposing of trash. You are expected to take Your
    trash with you when you leave the Event. 
    <br><br>

    ARTICLE 11: EVENT SAFETY <br>
    You and all
    other event attendees are expected to swiftly alert Event organizers in the
    event that You become aware of an activity or situation that You believe to be
    unreasonably risky or dangerous. 
    <br><br>

    ARTICLE 12: MEDICAL CARE <br>
    You hereby consent to
    medical care and transportation in order to obtain treatment in the event of
    injury as Event organizers, Event volunteers, police, or medical professionals
    may deem appropriate in their reasonable discretion. You understand this waiver
    extends to any liability that arises out of, or is in any way connected with,
    the medical treatment and transportation provided in the event of an emergency
    and/or injury. You hereby agree to release and hold harmless Big Bond and its
    organizers from any liability arising out of or in connection with the actions
    or omissions of Big Bond and its organizers related to Your medical care. You
    recognize and acknowledge that there are hazards and risks of physical injury or
    illness and that not all such risks can be fully eliminated. By entering the
    Event site, You voluntarily agree to assume the full risk of death, bodily
    injury or property damage, regardless of severity, that may sustain as a result
    of attendance at the Event or while on the premises, except to the extent caused
    by the gross negligence or willful misconduct of Big Bond’s organizers and
    relevant parties. 
    <br><br>

    ARTICLE 13: INDEMNIFICATION <br>
    You hereby indemnify and hold
    harmless House Hats Collective, Big Bond and their organizers, and each of their
    respective representatives, officers, directors, owners, members, trustees,
    agents, attorneys, employees, successors and assigns, Event sponsors/promoters,
    and the performing artists, including, but not limited to, their respective
    management, their agents, their staff and their designees (collectively, the
    “Big Bond and its organizers”) harmless from any loss, liability, damage or cost
    in any way arising out of, or related to, Your actions and omissions at, around,
    or while traveling to and from, the Event. You hereby waive, discharge, hold
    harmless and covenant not to sue the organizers of Big Bond from any and all
    liability arising out of, or in connection with, the Event, for any claims,
    causes of action, obligations, lawsuits, charges, complaints, controversies,
    damages, costs or experiences of whatsoever kind, nature, or description,
    whether direct or indirect, in law or in equity, in contract or in tort, or
    otherwise, whether known or unknown, arising out of, or related to, the Event,
    Your attendance at the Event, or Your travel to and from the Event, except to
    the extent caused by the gross negligence or willful misconduct of Big Bond and
    its organizers. IN NO EVENT WILL THE ORGANIZERS OF BIG BOND OR THEIR SUPPLIERS,
    ADVERTISERS AND SPONSORS, BE RESPONSIBLE OR LIABLE TO YOU OR ANYONE ELSE FOR,
    AND YOU HEREBY KNOWINGLY AND EXPRESSLY WAIVE ALL RIGHTS TO SEEK, DIRECT,
    INDIRECT, EXEMPLARY, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OR
    LOST PROFITS, REVENUES OR BUSINESS OPPORTUNITIES, OR OTHER DAMAGES OF ANY TYPE,
    AND ANY RIGHTS TO HAVE DAMAGES MULTIPLIED OR OTHERWISE INCREASED, ARISING OUT
    OF, OR IN CONNECTION WITH, THE EVENT OR ANY PRODUCT OR SERVICE PURCHASED AT THE
    EVENT, EVEN IF THE BIG BOND ORGANIZERS HAVE BEEN ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGES, AND REGARDLESS OF WHETHER THE CLAIM IS BASED UPON ANY CONTRACT,
    TORT, OR OTHER LEGAL OR EQUITABLE THEORY. WITHOUT LIMITING THE FOREGOING, YOU
    EXPRESSLY ACKNOWLEDGE AND AGREE THAT THE BIG BOND ORGANIZERS WILL HAVE NO
    LIABILITY OR RESPONSIBILITY WHATSOEVER FOR (a) ANY FAILURE OF ANOTHER ATTENDEE
    OF THE EVENT TO CONFORM TO THESE RULES, (b) PERSONAL INJURY OR PROPERTY DAMAGE
    OF ANY NATURE WHATSOEVER, WHETHER ARISING IN CONTRACT OR IN TORT, RESULTING FROM
    YOUR ATTENDANCE AT THE EVENT, (c) ANY ERRORS, MISTAKES, INACCURACIES OR
    OMISSIONS IN ANY CONTENT, OR (d) ANY LOST, STOLEN OR DAMAGED TICKETS, OR FAILURE
    OF EVENT STAFF OR SECURITY TO HONOR YOUR TICKET. YOUR SOLE AND EXCLUSIVE REMEDY
    FOR DISSATISFACTION WITH THE EVENT IS TO LEAVE THE EVENT. THE ALLOCATION OF RISK
    BETWEEN US IS AN ESSENTIAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN US. SOME
    JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF DAMAGES, SO THESE MAY
    NOT APPLY TO YOU. IN SUCH CASES, THE BIG BOND ORGANIZERS’ LIABILITY WILL BE
    LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW. IN NO EVENT WILL
    ATTORNEYS' FEES BE AWARDED OR RECOVERABLE BY YOU. 
    <br><br>

    ARTICLE 14: MISCELLANEOUS PROVISIONS <br>
    In no event shall Big Bond and its organizers be liable for any claim
    unless written notice is given within six (6) months from the date of the loss.
    No suit for any cause may be maintained against Big Bond and its organizers
    unless it is commenced within one (1) year after the Event. The parties hereto
    specifically consent to personal jurisdiction of said courts. These terms shall
    be governed by and construed under the laws of the State of Texas. Any
    controversy or claim arising out of or relating to these terms shall be brought
    only in the courts located in Travis County in the State of Texas, unless
    otherwise specified. You understand that Big Bond and its organizers and all
    other related parties, including, but not limited to, each of Big Bond and its
    organizers and the related parties’ management, employees, and agents, will not
    be held responsible, financially or otherwise, for any items that are left,
    lost, stolen, destroyed, confiscated, damaged or misplaced anywhere at the Event
    site regardless of fault or reason, so act accordingly. Any and all losses
    incurred by You under this Article 14 shall be subject to Article 13 above. 
    You unconditionally agree that the terms and conditions
    contained herein and/or referenced herein represent the entire Agreement between
    You and Big Bond and its organizers with respect to its subject matter, and
    shall supersede and replace all prior contemporaneous understandings,
    communications, and agreements, written or oral, regarding such subject matter
    which contradict these terms, including, but not limited to, any contrary
    understanding or agreements between You and Big Bond and its organizers. You
    further confirm that there are no other agreements between You and any of the
    other Big Bond and its organizers . You unconditionally agree to be bound by any
    and all of the terms and conditions contained herein and/or referenced herein
    and any additions, changes and/or modifications thereof, which may be made from
    time to time without prior notice to You. Any updates to these terms and
    conditions will be posted to this website address. If any provision of this
    Agreement is found to be invalid or unenforceable, that provision shall be
    enforced to the maximum extent possible so as to effect the intent of the
    parties hereto, and the other provisions contained herein will remain in full
    force and effect. Big Bond and its organizers’ failure to insist upon or enforce
    any provision of this Agreement shall not be construed as a waiver of any
    provision or right.

    </div>
    <div style="display: flex; justify-content: center; margin: 20px;">
        <button mdbBtn class="mdbBtn"  (click)="goBack()" style="border-radius: 5px; font-family: Moon; letter-spacing: 3px; font-size: 15px;">
            back
        </button>
    </div>
</div>

