@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }

@font-face {
  font-family: Moon;
  src: url("assets/fonts/Moon\ Light.otf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: -webkit-fill-available;
}

