@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: Moon;
  src: url("assets/fonts/Moon\ Light.otf");
}

@font-face {
  font-family: Patita;
  src: url("assets/fonts/Patita-Black.otf");
}

@font-face {
  font-family: Roboto_Thin;
  src: url("assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto_Reg;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: Roboto_Reg;
  font-size: 18px;
  margin: 0;
  background-color: #dccbb4;
}

.main-txt {
  font-family: 'Patita';
}

a {
  color: rgb(13, 128, 236);
  text-decoration: underline;
}


.mdbBtn {
  border-radius: 5px;
  background-color: black;
  color: white !important;
  font-family: Roboto_Reg; 
  letter-spacing: 2px; font-size: 1px;
  border-radius: 7px !important;
}

.mdbBtn:hover {
  border-radius: 5px;
  background-color: white;
  color: black !important;
}

hr.divider {
  margin: 2px;
  height:1px;
  border:none;
  background-color: black;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

//////////////////////////////
/// BACKUP OF THE SIZE CHART ON ECWID
/// //////////////////////////
/// 
/// 
// <p>Testing the sizing table here. hopefully people can get an idea of what size will fit them best, but that is obviously what i'm hoping for. honestly i'm just trying to fill white space to see what the html will look like when rendered.</p><table class="size-table">
// <style>
// .size-table {
//   width: 90% !important;
//   max-width: 500px;
//   border-radius: 1em !important;
//   overflow: hidden;
//   margin: auto auto !important;
//   background-color: white !important;
//   border-collapse: collapse;  
//   margin-bottom:2em;
// }
// .trow {
//     text-align: center;
//     border-bottom: 3px solid #c6c6c6 !important;
// }
// .size-table .trow:nth-child(odd) {
//   background-color: white !important;
// }
// .size-table .trow:nth-child(even) {
//   background-color: white !important;
// }
// .theader {
//   font-size: 18px;
//   color: black !important;
//   padding: .5em !important;
//   font-weight: bold;
//   /* reverse text needs a touch of increased tracking */
//   letter-spacing: 0.05em;
// }
// .td {
//   padding: .5em !important;
//   font-size: 12px;
//   text-align: center;
// }
// .td:first-child {
//   text-align: right;
//   padding-right: 1em !important;
//   border-right: 3px solid #c6c6c6 !important; 
//   font-weight: bold; 
// }
// </style>

// <tbody>
// <tr class="trow">
//     <th colspan="8" class="theader">SIZE CHART
//     </th>
// </tr>
// <tr class="trow" style="font-weight: bold;
//               font-weight: bold;
//   color:#2e2b21 !important;
//   border-top: 3px solid #c6c6c6 !important;
//   background-color: white !important;">
//     <td class="td">
//     </td>
//     <td class="td">S
//     </td>
//     <td class="td">M
//     </td>
//     <td class="td">L
//     </td>
//     <td class="td">XL
//     </td>
// </tr>
// <tr class="trow">
//     <td class="td">Chest
//     </td>
//     <td class="td">77in
//     </td>
//     <td class="td">82in
//     </td>
//     <td class="td">88in
//     </td>
//     <td class="td">94in
//     </td>
// </tr>
// <tr class="trow">
//     <td class="td">Sleeve
//     </td>
//     <td class="td">61in
//     </td>
//     <td class="td">66in
//     </td>
//     <td class="td">72in
//     </td>
//     <td class="td">78in
//     </td>
// </tr>
// <tr style="border-bottom: medium none;">
//     <td class="td">Length
//     </td>
//     <td class="td">69in
//     </td>
//     <td class="td">71in
//     </td>
//     <td class="td">72in
//     </td>
//     <td class="td">74in
//     </td>
// </tr>
// </tbody>
// </table>