/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 a
 {
   text-decoration: none;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
  text-shadow: 0 0 10px white;
  transition: text-shadow 0.3s ease;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   justify-content: right;
   margin: 20px calc(100% - 30px);
   transform: translateX(-30px);
   
   z-index: 100;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: black;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity .4s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #1a1a20;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
  color: #1a1a20;
  text-align: left;
  position: absolute;
  width: 300px;
  margin: -120px 0 0 0;
  padding: 30px;
  padding-top: 125px;
  right: -100px;
  border-radius: 10px;
  
  background-color: rgba(196, 196, 196, 0.473);
  backdrop-filter: blur(9px);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 

 #menuToggle input:checked ~ ul
 {
   transform: none;
   opacity: 1;
 }

 @-moz-document url-prefix() {
  #menu{
    background-color: rgba(196, 196, 196) !important;

  }
}