<div style="min-height: 100vh; overflow: hidden;">
    <section>

        <img src="../../assets/sky_2.png" id="sky">
        <img src="../../assets/ground_2.png" id="ground">
        <div>
            <h2 id="top_text">Event Name</h2>
        </div>

    </section>
    <img id="logo" src="../../assets/logo_transparent_white.gif" class="img-fluid mx-auto d-block">

</div>
<app-product></app-product>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores tempore animi distinctio culpa quisquam perferendis? Consequatur 
    tempore architecto doloribus suscipit enim earum cum labore, velit, autem ducimus praesentium soluta nulla!</p>

    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores tempore animi distinctio culpa quisquam perferendis? Consequatur 
        tempore architecto doloribus suscipit enim earum cum labore, velit, autem ducimus praesentium soluta nulla!</p>
<br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores tempore animi distinctio culpa quisquam perferendis? Consequatur 
    tempore architecto doloribus suscipit enim earum cum labore, velit, autem ducimus praesentium soluta nulla!</p>  

    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores tempore animi distinctio culpa quisquam perferendis? Consequatur 
        tempore architecto doloribus suscipit enim earum cum labore, velit, autem ducimus praesentium soluta nulla!</p>  
    

        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores tempore animi distinctio culpa quisquam perferendis? Consequatur 
            tempore architecto doloribus suscipit enim earum cum labore, velit, autem ducimus praesentium soluta nulla!</p>  
        
        