
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: -webkit-fill-available;
    justify-content: center;
    align-content: center;
}


section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 1001;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


#top_text
{
  position: relative;
  text-align: center;
  color: white;
  font-size: 70px;
  transform: translateY(100px);
  z-index: 100;
}


#logo {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 30%;
  right: 0px;
  left: 0px;
}


@media only screen and (max-width: 430px) {
  #logo{
    width: 130px;
    height: auto;
  }
}


