

.bg {
  color: white;
  /* The image used */
  background-image: url("../../assets/bb_mway.jpg");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
