<div style="min-height: 100vh; overflow: hidden;" class="top">
    <section>
        <img src="../../assets/sky_2.png" id="sky">
        <img src="../../assets/ground_2.png" id="ground">
    </section>
    <div class="top_text">
        <h2 id="title">Event Name</h2>
        <p id="subtitle">March xx-xx</p>
    </div>
    <img id="logo" src="../../assets/logo_transparent_white.gif" class="img-fluid mx-auto d-block">
    <div class="transition"><p style="display: none;">test</p></div>
</div>
<div class="nav-content">
    <h1 style="text-align: center;">about</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor illum eum at laboriosam ipsam odio culpa officiis soluta aperiam quae adipisci, debitis accusamus suscipit consectetur sapiente vitae ut error distinctio?</p>
    <app-product></app-product>
</div>
