<div style="overflow: hidden">
    <menu></menu>
    <div style="padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">FAQ</h2>

        <div class="top">
            <hr style="height:1px;border:none; background-color:black;">
            <p class="main-txt" >
                What should I bring to Big Bond?
            </p> 
            Please see our suggested <a href="/packing-list">packing list</a> and the corresponding 
            detailed packing list. The information found there isn't comprehensive, but it is a good start.
            If you would like further guidance please reach out via <a href="https://www.instagram.com/bigbond.us/?hl=en">social media</a> 
            or send us an email at info@bigbond.us. 
            
            <p class="main-txt" >
                Can I cook/grill at the campsite?
            </p> 
            Yes! Small, portable propane stoves/grills are allowed for cooking. 
            Tanks up to 4 lbs (per group) will be allowed into the campground. 
            Please monitor your cooking devices and fully turn off tanks whenever 
            you are not using them. Inhaling flamable gases is dangerous so keep these items away
            from enclosed spaces.
            Stay safe, and be aware of your surroundings while cooking. Campfire cooking is also allowed within designated fire pits. 
            <p class="main-txt" >
                How do I get to Big Bond?
            </p> 
            First buy a wristband, then check out the <a href="/directions">Directions page.</a>
            
            <p class="main-txt" >
                Can I leave the campsite and come back?
            </p>
            Yep! as long as you are still wearing your valid Big Bond wristband you will not be asked to leave and you may come
            and go as you please.
            <p class="main-txt">
                Are tickets expected to sell out?
            </p>
            There are a limited number of wristbands so it is possible that they can sell out, in which case no more tickets will be sold. So, get your tickets now—we want to make sure you don’t miss out!
            <p class="main-txt">
                What comes with my wristband?
            </p>
            A wristband grants you entry and camping to the grounds of Big Bond, where you can immerse yourself into two days of camping, hiking, and music.
            <p class="main-txt">
                What is the difference between wristband tiers?
            </p>
            The only difference is the price, but a fixed number of wirstbands will be sold at each tier, so lock in 
            a lower price while you still can.
            <p class="main-txt" >
                Who needs a wristband?
            </p>    
            All attendees need a wristband.
            <p class="main-txt" >
                When will I get my wristband?
            </p>  
            Wristbands will be shipped to the address provided at checkout at least two 
            weeks before the event. Please email info@bigbond.us if you need to update 
            your shipping address, or if you haven't recieved your wristband and you are worried
            it won't come in time. 

            <p class="main-txt" >
                What if I lose my wristband?
            </p>
            Please take extra care to not lose your wristband, but if you do happen to lose it, please send us an email
            at info@bigbond.us. We can not guarantee anything, but we will try to work with you. 
            <p class="main-txt" >
                Are there refunds for wristbands?
            </p>  
            No, all sales are final for wristband purchases. 
            <p class="main-txt" >
                What are the festival hours?
            </p>  
            Festival grounds open 3pm Friday Feb 17th. 
            <p class="main-txt" >
                Will there be a general store at the campsites?
            </p> 
            No. Please bring all essentials. A food truck…. , but you are responsible for your own supplies. Sadly Uber eats will not make it out to the site but you can find a gas station and a few
            restaurants a few minutes away. 


            <p class="main-txt" >
                I want to check out the national park. What should I do?
            </p> 
            check out <a href="https://www.planetware.com/tourist-attractions-/big-bend-national-park-us-tx-big.htm">this</a> 
            article for a few suggestions. Whatever you decide to check out, plan ahead because some things might not be available.
            It is a good idea to check the <a href="https://www.nps.gov/bibe/index.htm">national park website</a>.
        </div> 
    </div> 
    <no-ceil-floor></no-ceil-floor>

</div>


