<div style="overflow: hidden">
    <menu></menu>
    <div style="padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">FAQ</h2>
        
        <div class="top">
            <p class="main-txt" >
                What should I bring to Big Bond?
            </p> 
            Please see our suggested <a href="/packing-list">packing list</a> and the corresponding 
            <a href="/detailed-packing-list">detailed packing list</a>. The information found there isn't comprehensive, but it is a good start.
            The Survival Guide has more packing information.
            If you would like further guidance please reach out via <a href="https://www.instagram.com/bigbond.us/?hl=en">social media</a> 
            or send us an email at info@bigbond.us. 
            <p class="main-txt" >
                How do I get involved?
            </p> 
            Just by being at Big Bond, you shape what it is. But if you want more, join the Big Bond team. We're on the lookout for passionate and 
            dedicated individuals to be part of our dynamic festival staff. If you're ready to dive into a world of creativity, 
            music, and unforgettable experiences, seize the opportunity to contribute to something extraordinary. 
            Fill out the <a href="https://forms.gle/2bfMR6MeLEQNuC8B9">volunteer form</a> now and become an integral 
            part of the magic that makes Big Bond so special.
            
            <p class="main-txt">
                What comes with my wristband?
            </p>
            A wristband grants you entry to Big Bond and the campgrounds, where you can immerse yourself into two days of camping, hiking, and music. With a 
            valid wristband, you may come and go from Big Bond as you please.
            <p class="main-txt" >
                Who needs a wristband?
            </p>    
            All attendees need a wristband.
            <p class="main-txt">
                Are tickets expected to sell out?
            </p>
            There is a limited number of wristbands so it is possible that they can sell out.
            Get your tickets now to make sure you don’t miss out!
            <p class="main-txt" >
                When will I get my wristband?
            </p>  
            Wristbands will be shipped to the address provided at checkout. If you are buying a wristband after 
            the shipping deadline, show your order confirmation email at check-in to receive your wristband. 
            Please email info@bigbond.us if you need to update 
            your shipping address prior to the festival or if you have any questions.

            <p class="main-txt">
                What is this about leaving no trace? Are there not trash cans at Big Bond?
            </p>
            Leave No Trace is one of the tenets of Big Bond. You should read more about it in the Survival Guide, but basically you must not leave anything that you 
            brought and if you see trash that isn't even yours, still pick it up! While there may be trash cans near the stage, these are strictly for your convenience when you finish a drink near the stage - not for
            that plastic packaging around that thing you just opened at your campsite.
            <p class="main-txt" >
                I lost my wristband. Can you replace it?
            </p>
            Unfortunately no. We are not responsible for wristbands lost or stolen. Please take extra care to not lose your wristband.
            <p class="main-txt" >
                Are there refunds for wristbands?
            </p>  
            No, all sales are final for wristband purchases. 
            <p class="main-txt" >
                What are the festival hours?
            </p>  
            The time gates open for Big Bond 2025 is TBD, so stay tuned.
            
            
            <p class="main-txt" >
                Can I cook/grill at the campsite?
            </p> 
            Yes! Small, portable propane stoves/grills are allowed for cooking. 
            Please monitor your cooking devices and fully turn off butane tanks whenever 
            you are not using them. Inhaling flammable gases is dangerous so keep these items away
            from enclosed spaces.
            Stay safe, and be aware of your surroundings while cooking. 
            Campfire cooking is also allowed within designated fire pits. Never use gasoline to 
            start a fire. Always clean up after yourself.
            
            <p class="main-txt">
                What comes with a campsite?
            </p>
            Campsites are included with your Big Bond wristband. The Big Bond campgrounds
            grounds have bathrooms and showers, but no potable water. 
            Cars, RVs, Vans, and tent camping is allowed. Campsites are not assigned and you will pick your own spot. You can set up camp almost 
            anywhere except in front of the stage. If you build a fire, please do so in one of the circles of rocks found at the campgrounds.
            
            <p class="main-txt" >
                Will there be a general store at the campsites?
            </p> 
            No, please bring all essentials. A cash only food truck may be available, but be prepared with all your own
            food. You are accountable for your own supplies. 
            Sadly Uber eats will not make it out to the camp grounds but there is a gas station and a few 
            restaurants within minutes.  
            <p class="main-txt" >
                How do I get to Big Bond?
            </p> 
            Check out the <a href="/directions">Directions page.</a>
            <p class="main-txt" >
                How do I get involved?
            </p> 
            Just by being at Big Bond, you shape what it is. But if you want more, join the Big Bond team. We're on the lookout for passionate and 
            dedicated individuals to be part of our dynamic festival staff. If you're ready to dive into a world of creativity, 
            music, and unforgettable experiences, seize the opportunity to contribute to something extraordinary. 
            Fill out the <a href="https://forms.gle/2bfMR6MeLEQNuC8B9">volunteer form</a> now and become an integral 
            part of the magic that makes Big Bond so special.

            <p class="main-txt" >
                Can I leave the campsite and come back?
            </p>
            Yep! as long as you are still wearing your valid Big Bond wristband you will not be asked to leave and you may come
            and go as you please.

            <p class="main-txt" >
                Is it ok if I'm not planning on camping on the festival grounds?
            </p>
            Not a problem.
            However, it gets very dark at night, so driving around the festival grounds in the dark isn't allowed.
            There will be a designated parking area near the gate for attendees that 
            aren't camping at the festival. You can come and go from this parking area as you please.

            <p class="main-txt" >
                Will I be able to camp by my car?
            </p>
            You may park and set up camp almost anywhere in the grounds. 
            Spots are given on a first come first serve basis and you pick your own spot.
            Please see the festival grounds map on the <a href="/directions">directions page.</a> 
            <br><br>
            Wherever your choose to set up camp, introduce yourself to the neighbors and include the stranger! Figure out if that is actually 
            where you want to camp. Maybe the neighbors plan to party all night and you need sleep. 
            Whatever the case may be, say hi and offer a hand to those around you.

            <p class="main-txt" >
                Is there festival map?
            </p>
            There is a map of the Big Bond grounds on the <a href="/directions">directions page.</a>
            Landmarks on the map are farther apart than they appear. Big Bond takes place on 640 acres
            of beautiful desert.

            <p class="main-txt" >
                Do I need a 4 wheel drive vehicle?
            </p>
            Unless you drive a Ferrari, your vehicle will have no trouble.

            <p class="main-txt" >
                How does check-in work?
            </p>
            There are not assigned check-in times.
            Please already be wearing your wristband when you arrive.
            Big Bond volunteers will be waiting at the gate to check wristbands, get you checked-in, and welcome you to Big Bond.
            <p class="main-txt">
                What is the difference between wristband tiers?
            </p>
            The only difference is the price, but a fixed number of wristbands will be sold at each tier, so lock in 
            a lower price while you still can.

            <p class="main-txt" >
                I want to check out the national park. What should I do?
            </p> 
            Check out the <a href="https://www.nps.gov/bibe/index.htm">national park website</a> for current updates and activities.
            
        </div> 
    </div> 
    <br><br><br>
    <no-ceil-floor></no-ceil-floor>

</div>


