<div style="overflow: hidden; height: 100%">
    <menu></menu>

    <div style="text-align: center; padding-bottom: 0px;" >
        <h2 class="main-txt" style="text-align: center;">PACKING LIST</h2>

        <div class="top">
            <hr style="height:1px;border:none;background-color:black;">
    
            <div style="height: 80%;">
                <p class="middle">Bring everything, leave no trace.</p>
                <div style="position: absolute; bottom: 10px; right: 0; display: block; margin-left: auto; margin-right: auto;
                width: 100%;">
                    <p style="font-size: 15px; color: rgb(83, 83, 83)">read more</p>
                    <i class="fas fa-chevron-down fa-lg"></i>
                    
                </div>
            </div>
            
        </div>


        <hr style="height:1px;border:none;background-color:black; margin-left: 30px; margin-right: 30px;">

        <div style="padding: 30px">
            Bring everything you will need.
            <br><br>
            <b style="text-decoration: underline;">There is no potable water at the campsite</b> and none will be
            provided. Bring a minimum of 1.5 gallons per person per day.
            <br><br>
            Bring stuff to eat.
            <br><br>
            Bring your own shelter.
            <br><br>
            Bring trash bags! Pack out all of your trash. Leave no trace.
            <br><br>
            There are toilets and showers at the campsite.
            <br><br>
            Be prepared. Be safe.
            <br><br>
            <button mdbBtn class="mdbBtn"  (click)="goToDetailedList()" 
            >
                detailed packing list
            </button>
            <br><br>
            <no-ceil-floor></no-ceil-floor>
        </div>
    </div>
</div>
