#icon {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 15px;
}
  
.column {
  display: inline-block;

  justify-content: left;
  width: 50%;
}

ul {
  list-style-position: inside;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  